@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500&subset=cyrillic');

/* ==========================================================================
   BASE
   ========================================================================== */
html {position: relative;min-height: 100%;}
body {font-family: Ubuntu, sans-serif; color: $base-text; background: #f5f3f1}
img {max-width: 100%;height: auto;}
a {color: $link-text; transition:  all .15s;
  &:hover,&:active,&:focus {text-decoration: underline;}
}
table {width: 100%;}
hr {clear: both}
p {margin: 0}
ul {@include resetUl();}
small {font-size: 100%;}
.container {
  @media (min-width: $screen-sm-min) {width: 1230px;}  
}
.b-mg {margin-top: 25px;}


/* ==========================================================================
  COMMON
  ========================================================================== */

/* BUTTONS */
@mixin but() {
  display: inline-block;  
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;  
  background: none;
  text-decoration: none;
  color: #fff;
  letter-spacing: .5px; 
  transition: all .2s;
  &:focus,
  &:active:focus,
  &.active:focus,
  &.focus,
  &:active.focus,
  &.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  &:hover,
  &:focus,
  &.focus {text-decoration: none; color: #fff}
  &:active,
  &.active {
    text-decoration: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }  
}
.but, .submit {@include but();}

@mixin but-main() {  
  padding: 8px 16px 10px;
  font-weight: 500;
  border-radius: 5px;
  background: #75a809;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -.2px;
  &:hover,&:active,&:focus {
    background: lighten(#75a809,5%);
  }
}


.but-main, 
.submit {@include but-main();}




/* FORMS */
input[type="text"],
input[type="tel"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea,
select {  
  width: 100%;  
  padding: 8px 14px;  
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  background-color: #fff;
  margin-bottom: 10px;
  &::-webkit-input-placeholder {}
  &::-moz-placeholder {}
  &::-ms-input-placeholder {}
}
textarea {resize: vertical;height: 80px;}
label {font-weight: normal;cursor: pointer;}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}



/* ==========================================================================
   HEADINGS
   ========================================================================== */
.h-main {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 10px 0 15px;
  @media (min-width: $screen-sm-min) {
    font-size: 30px;
  }
}

.h-section {
  text-align: center;
  font-weight: 500;
}

.h-section
, .comments-title
, .comment-reply-title {
  text-transform: uppercase;
  font-size: 18px;
  margin: 30px 0 25px 0;
  @media (min-width: $screen-sm-min) {
    font-size: 21px;
  }  
}

.sec-fresh .h-section {background-position: 10px -118px, 0 -714px;}
.widget-pop {background-position: 9px -158px, 0 -714px;}
.widget-interest {background-position: 12px -200px, 0 -714px;}
.widget-commenters {background-position: 11px -80px, 0 -714px;}

.h-prev, .h-sbar {
  font-weight: 700;
  font-size: 1.1em;
  margin: 5px 0;
  line-height: 1.3;
}
.h-prev {  
  @media (min-width: $screen-sm-min) {font-size: 20px;}
}




/* ==========================================================================
   IMAGES
   ========================================================================== */

.aligncenter, .alignleft, .alignright {display: block;margin: 0 auto 20px;}
@media (min-width: $screen-sm-min) {
  .alignleft, .alignright {display: inline-block;max-width: 75%}
  .alignleft {float: left;margin: 5px 20px 8px 0;}
  .alignright {float: right;margin: 5px 0 8px 20px;}  
}

/* fake links */
.spanlink {
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px solid $link-text;
  color: $link-text;
}