/* ========================================================================== GENERAL ========================================================================== */
.icon { display: inline-block; background: url("../img/doors/sprite.png") no-repeat; vertical-align: middle; }

.icon-summer { background-position: -38px 0; width: 32px; height: 31px; }

.icon-winter { background-position: 0 0; width: 30px; height: 31px; }

.h-intext { margin-top: 1.5em; }

/* ========================================================================== STYLES ========================================================================== */
.b-explain { background: #fafafa; padding: 5px; margin-bottom: 25px; }
.b-explain_col_2 { background: #fff; text-align: center; padding: 20px; }
.b-explain-h, .b-explain-h_2 { margin-bottom: 1em; font-size: 1.7em; }
.b-explain-h_2 { color: #f7931e; margin-top: 0; }
.b-explain-graphic { margin: 20px 0; }
.b-explain p { -webkit-hyphens: auto; -moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto; }
.b-explain strong { display: block; color: #cf0a2c; font-size: 1.75em; }
.b-explain .btn-action { width: 150px; }
@media (max-width: 480px) { .b-explain .b-seasons .season { display: block; } }
@media (max-width: 767px) { .b-explain { text-align: center; }
  .b-explain_col_1 { padding: 15px; } }
@media (min-width: 768px) { .b-explain { margin-bottom: 25px; }
  .b-explain_col_1-1, .b-explain_col_1-2 { display: table-cell; }
  .b-explain_col_1-2, .b-explain_col_2 { vertical-align: middle; padding: 20px; }
  .b-explain_col_1-1 { width: 55%; }
  .b-explain_col_1-2 { width: 45%; } }
@media (min-width: 992px) { .b-explain_col_1, .b-explain_col_2, .b-explain_col_1-1, .b-explain_col_1-2 { display: table-cell; }
  .b-explain_col_1 { width: 65%; }
  .b-explain_col_2 { width: 35%; }
  .b-explain .b-seasons .season { display: block; }
  .b-explain-graphic { text-align: right; } }
@media (min-width: 1200px) { .b-explain-graphic { margin: 60px 0; }
  .b-explain_col_1 { width: 60%; }
  .b-explain_col_2 { width: 40%; }
  .b-explain .b-seasons .season { display: inline-block; } }

.b-seasons { position: relative; padding: 0 90px; margin: 0 auto; max-width: 350px; }
.b-seasons .season { font-weight: bold; position: absolute; top: 5px; font-size: .9em; display: inline-block; }
.b-seasons .season:first-child { text-align: left; left: 0; }
.b-seasons .season:last-child { text-align: right; right: 0; }
.b-seasons .seasons { background: #ffd850; background: -webkit-linear-gradient(left, #ffd850 0%, #ef7f00 100%); background: linear-gradient(to right, #ffd850 0%, #ef7f00 100%); height: 42px; border-radius: 30px; position: relative; cursor: pointer; }
.b-seasons .seasons-handle { width: 50px; height: 50px; border-radius: 100%; border: 3px solid #fff; display: block; position: absolute; top: -4px; background: url("../img/doors/sprite.png") no-repeat; -webkit-transition: all .3s ease-in; transition: all .3s ease-in; -webkit-transition-property: background-color, left, margin, -webkit-transform; transition-property: background-color, left, margin, transform; }
.b-seasons .winter .seasons-handle { left: -3px; right: auto; background-color: #78c9e7; background-position: 6px -37px; }
.b-seasons .summer .seasons-handle { left: 100%; margin-left: -49px; background-color: #faaf3a; background-position: -32px -38px; -webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
.b-seasons .seasons-1 { background-position: 0 0; }
.b-seasons .seasons-2 { background-position: 0 -65px; }

p.summary { border: 6px solid #78cae7; padding: 15px 10px; line-height: 1.5; }

.b-energy-benefits { text-align: center; }
.b-energy-benefits-h { font-size: 1em; display: block; margin: 5px 0; }
.b-energy-benefits .benefit { margin-bottom: 15px; }
.b-energy-benefits .benefit:before { content: ""; display: inline-block; width: 95px; height: 95px; background: url("../img/doors/icons-energy-benefits.png") no-repeat; }
@media (min-width: 768px) and (max-width: 991px) { .b-energy-benefits .benefit:nth-child(3), .b-energy-benefits .benefit:nth-child(5) { clear: left; } }
@media (min-width: 992px) { .b-energy-benefits .benefit:nth-child(4) { clear: left; } }
.b-energy-benefits .benefit-1:before { background-position: 0 0; }
.b-energy-benefits .benefit-2:before { background-position: 0 -105px; }
.b-energy-benefits .benefit-3:before { background-position: 0 -210px; }
.b-energy-benefits .benefit-4:before { background-position: 0 -315px; }
.b-energy-benefits .benefit-5:before { background-position: 0 -419px; }
.b-energy-benefits .benefit-6:before { background-position: 0 -523px; }

.b-energy-temp { text-align: center; }
.b-energy-temp:before, .b-energy-temp:after { content: ""; display: table; }
.b-energy-temp:after { clear: both; }
.b-energy-temp .item { margin-top: 30px; }
@media (min-width: 768px) { .b-energy-temp .item { width: 50%; float: left; } }

table.argon { margin: 20px 0; }
table.argon td, table.argon th { border: 2px solid #78cae7; text-align: center; padding: 2px 5px; }
table.argon th { font-weight: normal; }
table.argon tr:nth-child(even) td, table.argon td.bg { background: #78cae7; color: #fff; }
@media (max-width: 767px) { table.argon { display: block; max-width: -webkit-min-content; max-width: -moz-min-content; max-width: min-content; overflow-x: auto; -webkit-overflow-scrolling: touch; white-space: nowrap; } }
