// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

@mixin resetUl() {list-style: none;padding: 0;margin: 0;}
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
@mixin textshadow() {
	text-shadow: 0 1px 1px rgba(#000, .3);
}
@mixin border() {
	background: #fff;
	border-radius: 4px;
	padding: 10px 5px 10px;
	border: 1px solid #eef2f5;
	box-shadow: 0 1px 0 1px rgba(black, .1);	
}

$red: #cf0a2c;
$orange: #f7931e;
$blue: #4db1d6;
$lblue: #e9f5fc;
$base: #516a81;
$green: #7db828;



/* ==========================================================================
   GENERAL
   ========================================================================== */
a {transition: all .3s;}
.icon {display: inline-block;background: url('../img/doors/sprite.png') no-repeat;vertical-align: middle;}

.icon-summer {background-position: -38px 0;width: 32px;height: 31px;}
.icon-winter {background-position: 0 0;width: 30px;height: 31px;}

.h-intext {margin-top: 1.5em;}
.b-mg {margin-top: 30px;}
.b-pad {padding: 15px;}
.b-mg-sm {
	@media (max-width: $screen-sm-max) {margin-top: 20px;}	
}
.b-tac-sm {
	@media (max-width: $screen-sm-max) {text-align: center;}		
}

.price {
	background: $green;
	color: #fff;
	padding: 5px 0;
	border-radius: 5px;
	margin-top: 15px;
	text-align: center !important;
	font-weight: bold;
	@include textshadow();
	font-size: 1.3em;
	text-decoration: none !important;
}

/* GRID */
.col-cus-5 {
	width: 50%;
	padding: 0 5px;	
	float: left;	
	@media (min-width: $screen-sm-min) {width: 33.33%;padding: 0 10px;}
	@media (min-width: $screen-md-min) {width: 20%;}
	@media (max-width: $screen-xs-max) {&:nth-child(3),&:nth-child(5) {clear: left;}}
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		&:nth-child(4) {clear: left;}		
	}
}

.btn-calc {
	border-radius: 10px;
	i {
		width: 14px;
		height: 19px;
		display: inline-block;
		vertical-align: middle;
		background: url('../img/doors/i-calc.png') no-repeat;
		margin-right: 15px;	
	}
}
.btn-main {
	background: #9cca5a;
	background: -moz-linear-gradient(top, #9cca5a 0%, #99c855 50%, #82bc2f 51%, #87bb3d 100%);
	background: -webkit-linear-gradient(top, #9cca5a 0%,#99c855 50%,#82bc2f 51%,#87bb3d 100%);
	background: linear-gradient(to bottom, #9cca5a 0%,#99c855 50%,#82bc2f 51%,#87bb3d 100%);	
}
/* ==========================================================================
   SECTIONS
   ========================================================================== */
.category-nav {border-bottom: 4px solid $blue;	
	ul {@include resetUl();}	
	li {
		display: inline-block;
		font-size: 1.05em;
		line-height: 37px;
		font-weight: bold;
		font-style: italic;
		position: relative;
		bottom: -9px;
		border-radius: 3px 3px 0 0;
		overflow: hidden;
		height: 40px;
		margin-top: 5px;
	}
	li:first-child {
		text-transform: uppercase;				
		margin-top: 0;
		color: #fff;		
		font-style: normal;
		background: url('../img/doors/bread-bg.png') 0 0 no-repeat;
		z-index: 2;
		border-radius: 3px 0 0 0;
		@include textshadow();
		display: block;
		a {color: #fff; padding-right: 35px;}
	}	
	a {text-decoration: none;display: block;padding: 0 15px;}
	.active {
		a {
			height: 40px;
			color: #fff;
			@include textshadow();
			background: #78cae7;
			background: -moz-linear-gradient(top, #78cae7 0%, #8ed2eb 50%, #78cae7 51%, #78c9e7 100%);
			background: -webkit-linear-gradient(top, #78cae7 0%,#8ed2eb 50%,#78cae7 51%,#78c9e7 100%);
			background: linear-gradient(to bottom, #78cae7 0%,#8ed2eb 50%,#78cae7 51%,#78c9e7 100%);			
		}
	}
	@media (max-width: $screen-xs-max) {
		//li:first-child {display: block;background-position: 0 0;}
	}
	@media (min-width: $screen-sm-min) {
		a {padding: 0 8px;}
		li {margin-top: 0;}
		li:first-child {
			display: inline-block;
			background-position: 100% 50%;
			a {padding-right: 40px;}
		}
		li:nth-child(2) {margin-left: -10px;border-radius: 0 3px 0 0;}
	}
	@media (min-width: $screen-md-min) {
		li:first-child a {padding-right: 45px;}
		a {font-size: 1.1em;padding: 0 15px;}
	}
	@media (min-width: $screen-lg-min) {
		a {padding: 0 20px;}
	}
}

.b-explain {
	background: #fafafa;
	padding: 5px;
	margin-bottom: 25px;
	&_col_2 {background: #fff;text-align: center;padding: 20px;}
	
	&-h,&-h_2 {margin-bottom: 1em;font-size: 1.7em;}
	&-h_2 {color: $orange;margin-top: 0;}
	&-graphic {margin: 20px 0;}
	p {hyphens: auto;}
	strong {display: block;color: $red;font-size: 1.75em;}
	.btn-action {width: 150px;}

	@media (max-width: 480px) {
		.b-seasons .season {display: block;}
	}
	@media (max-width: $screen-xs-max) {
		&_col_1 {padding: 15px;}
		text-align: center;		
	}
	@media (min-width: $screen-sm-min) {
		margin-bottom: 25px;
		&_col_1-1, &_col_1-2 {display: table-cell;}
		&_col_1-2, &_col_2 {vertical-align: middle; padding: 20px;}		
		
		&_col_1-1 {width: 55%;}
		&_col_1-2 {width: 45%;}
	}
	@media (min-width: $screen-md-min) {
		display: flex;
		align-items: center;
		&_col_1, &_col_2, &_col_1-1, &_col_1-2 {display: table-cell;}
		&_col_1 {width: 65%;order: 1;}
		&_col_2 {width: 35%;order: 2;}		
		.b-seasons .season {display: block;}
		&-graphic {text-align: right;}
	}
	@media (min-width: $screen-lg-min) {
		&-graphic {margin: 60px 0;}
		&_col_1 {width: 60%;}
		&_col_2 {width: 40%;}
		.b-seasons .season {display: inline-block;}
	}
}
.b-seasons {
	position: relative;
	padding: 0 90px;
	margin: 0 auto;
	max-width: 350px;
	.season {font-weight: bold; position: absolute; top: 5px; font-size: .9em; display: inline-block;
		&:first-child {text-align: left;left: 0;}
		&:last-child {text-align: right;right: 0;}		
	}
	.seasons {
		background: #ffd850;
		background: -moz-linear-gradient(left, #ffd850 0%, #ef7f00 100%);
		background: -webkit-linear-gradient(left, #ffd850 0%,#ef7f00 100%);
		background: linear-gradient(to right, #ffd850 0%,#ef7f00 100%);		
		height: 42px;
		border-radius: 30px;
		position: relative;
		cursor: pointer;
	}
	.seasons-handle {
		width: 50px;
		height: 50px;
		border-radius: 100%;
		border: 3px solid #fff;
		display: block;
		position: absolute;
		top: -4px;
		background: url('../img/doors/sprite.png') no-repeat;
		transition: all .3s ease-in;
		transition-property: background-color, left, margin, transform;
	}
	.winter .seasons-handle {
		left : -3px;
		right: auto;
		background-color: #78c9e7;
		background-position: 6px -37px;
	}	
	.summer .seasons-handle {		
		left: 100%;
		margin-left: -49px;
		background-color: #faaf3a;
		background-position: -32px -38px;		
		transform: rotate(360deg);
	}
	.seasons-1 {background-position: 0 0;}
	.seasons-2 {background-position: 0 -65px;}
}

p.summary {
	border: 6px solid $blue;
	padding: 15px 10px;
	line-height: 1.5;
}

.b-energy-benefits {
	text-align: center;
	&-h {font-size: 1em; display: block;margin: 5px 0;}
	.benefit {
		margin-bottom: 15px;
		&:before {
			content: "";
			display: inline-block;
			width: 95px;
			height: 95px;
			background: url('../img/doors/icons-energy-benefits.png') no-repeat;			
			transition: all .3s;
		}
		&:hover:before {transform: rotate(360deg);}
		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
			&:nth-child(3), &:nth-child(5) {clear: left;}			
		}		
		@media (min-width: $screen-md-min) {
			&:nth-child(4) {clear: left;}			
		}		
	}	
	
	.benefit-1:before { background-position: 0 0;} 
	.benefit-2:before { background-position: 0 -105px;} 
	.benefit-3:before { background-position: 0 -210px;} 
	.benefit-4:before { background-position: 0 -315px;} 
	.benefit-5:before { background-position: 0 -419px;} 
	.benefit-6:before { background-position: 0 -523px;} 
}

.b-energy-temp {
	text-align: center;
	@include clearfix();
	.item {
		margin-top: 30px;
	@media (min-width: $screen-sm-min) {
		width: 50%;
		float: left;
	}		
	}
}

table.argon {
	margin: 20px 0;
	td, th {border: 2px solid $blue;text-align: center;padding: 2px 5px;}
	th {font-weight: normal;}
	tr:nth-child(even) td, td.bg {background: $blue;color: #fff;}
	@media (max-width: $screen-xs-max) {
	  display: block;
	  max-width: min-content;    
	  overflow-x: auto;
	  -webkit-overflow-scrolling: touch;
	  white-space: nowrap;			
	}
}

.b-banner-numbers {
	background: $lblue;
	margin-top: 30px;
	@include clearfix();
	.highlight {color: $blue;}
	p {
		margin: 0;
		text-transform: uppercase;
		position: relative;
		font-size: 19px;
		font-weight: 600;
		border-bottom: 10px solid #fff;
		overflow: hidden;
		padding: 10px;
		&:last-child {border: none;}
	}
	b {
		font-weight: normal;		
		font-size: 50px;
		line-height: 1;
		float: left; margin: 0 10px 10px 0;

	}
	@media (min-width: $screen-sm-min) {
		p {font-size: 14px;float: left;border: none;min-height: 110px;}
		b {font-size: 40px;left: 5px;top: 35px;position: absolute;}
		.col-1 {padding: 25px 25px 15px 90px;width:36%;b {left: 10px}}
		.col-2 {padding: 15px 50px 15px 90px;width:33%;}
		.col-3 {padding: 15px 25px 15px 90px;width:31%;}		
		.col-1,.col-2 {background: url('../img/doors/arrow-banner1.png') 100% 50% no-repeat;}	
	}
	@media (min-width: $screen-md-min) {
		p {font-size: 16px;text-align: justify;min-height: auto;}
		b {font-size: 40px;left: 10px;top: 25px;}
		.col-1 {padding: 25px 40px 25px 90px;width:34%;}
		.col-2 {padding: 25px 50px 25px 100px;width:35%;b {left: 10px}}
		.col-3 {padding: 10px 25px 10px 100px;width:31%;}		
		.spacing {letter-spacing: 5px;}
	}
	@media (min-width: $screen-lg-min) {
		p {font-size: 19px;}
		b {font-size: 50px;left: 20px;}
		.col-1 {padding: 25px 40px 25px 120px;width:34%;b {left: 20px}}
		.col-2 {padding: 25px 50px 25px 120px;width:35%;}
		.col-3 {padding: 10px 25px 10px 130px;width:31%;}
		.spacing {letter-spacing: 5.5px;}
	}
}


.b-banner-consult {
	position: relative;
	.wrp {background: #78cae7 url('../img/doors/arrow-banner2.png')100% 50% no-repeat;text-align: center;}	
	.wrp-2 {
		position: relative;
		z-index: 2;
	}
	.btn {
		font-weight: bold;		
		font-size: 20px;
		white-space: pre-wrap;
	}
	.container {padding-top: 25px;padding-bottom: 25px;}
	
	@media (min-width: $screen-sm-min) {
		margin-top: 30px;
		.container {padding-top: 55px;}
		.wrp {
			background: #78cae7 url('../img/doors/arrow-banner2.png')110% 50% no-repeat; 
			height: 160px;
			text-align: right;
		}
		.btn {font-size: 25px;}
		&:before, &:after {content: "";position: absolute;}
		&:before {
			width: 486px;
			height: 198px;
			left: -150px;
			bottom: -1px;
			background: url('../img/doors/expert.jpg') no-repeat;
		}		
		
	}	
	@media (min-width: $screen-md-min) {
		.wrp {background-position: 100% 50%;}
		.container {padding-top: 50px;}
		.btn {font-size: 25px;}
		&:before {left: 0;}
	}
	@media (min-width: $screen-lg-min) {
		.btn {font-size: 32px;}
	}
}
.b-banner-consult-2 {
	position: relative;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	.wrp {
		background-color: #78cae7; text-align: center;}	
	.wrp-2 {
		position: relative;
		z-index: 2;
		font-size: 20px;
	}
	.btn {width: 260px;font-size: 20px;}
	.container {padding-top: 25px;padding-bottom: 25px;}
	
	@media (min-width: $screen-md-min) {		
		margin-top: 30px;
		.container {padding-top: 10px;}
		.wrp {
			background: #78cae7 url('../img/doors/arrow-banner2.png')100% 50% no-repeat; 
			height: 160px;
		}
		.wrp-2 {max-width: 650px;margin: 0 auto;}
		&:before, &:after {content: "";position: absolute;}
		&:before {
			width: 349px;
			height: 181px;
			left: -150px;
			bottom: 0;
			background: url('../img/doors/expert2.jpg') no-repeat;
		}		
		
	}	
	@media (min-width: $screen-lg-min) {
		.wrp {background-position: 100% 50%;}
		.wrp-2 {max-width:850px;margin: 0 auto;}
		.container {padding-top: 25px;}		
		&:before {left: 0;}
	}
}
.b-banner-zakaz {
	@include clearfix();
	background: #e1f2fb;
	background: -moz-linear-gradient(top, #e1f2fb 0%, #ffffff 100%);
	background: -webkit-linear-gradient(top, #e1f2fb 0%,#ffffff 100%);
	background: linear-gradient(to bottom, #e1f2fb 0%,#ffffff 100%);	
	.wrp {max-width: 1250px;margin: 0 auto;}	
	.col-2 {max-width: 345px !important;padding: 45px;margin: 0 auto;}
	p {font-size: 30px;color: $blue;font-weight: 600; letter-spacing: -1px; line-height: 1.2;
		b {color: $red;display: block;}
		span {font-size: 36px;}
	}
	.btn {font-size: 22px;width: 100%;}

	@media (max-width: $screen-sm-max) {
		.col-1, .col-3 {display: none;}
	}	
	@media (min-width: $screen-md-min) {
		p {font-size: 25px;}
		.col-1,.col-2,.col-3 {text-align: center;vertical-align: bottom;display: table-cell;}
		.col-2 {vertical-align: middle;text-align: left;}
	}
	@media (min-width: $screen-lg-min) {
		p {font-size: 30px;}
	}

}

.banner-mini {
	display: inline-block !important;
	text-align: center;		
	text-decoration: none;
	margin-top: 15px;	
	margin-right: 8px;
	@include border();
	&:last-child {margin-right: 0;}
	&:hover {box-shadow: 0 0 5px 0 $blue;}
	span {display: block;margin-top: 5px;}
}

/* Removal of anchor styling */
.b-door-prev, .b-door-dop,.b-door-type,.banner-mini,.b-door-balk-dop,.b-portal-type_i {
	display: block;
	text-decoration: none;
	&:hover,&:active,&:focus {text-decoration: none;background: #fff;}
}

.b-door-prev {	
	padding: 25px;	
	text-align: center;	
	img {max-height: 270px;}
	p:last-child {text-align: left;margin: 0; hyphens: auto;}
	.ttl {background: $blue;color: #fff;padding: 10px 0;@include textshadow();font-size: 1.2em;}
	@media (max-width: $screen-sm-max) {border-bottom: 3px solid #fff;}
}
.b-door-prev, .b-door-type {
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		&:nth-child(3) {clear: left}
	}
}
.b-door-dop {
	margin-top: 15px;
	@media (max-width: $screen-xs-max) {
		&:nth-child(3), &:nth-child(5) {clear: left;}
	}
	@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		&:nth-child(4) {clear: left}
	}	
}
.b-door-dop, .b-door-type {
	text-align: center;	
	.title {font-size: 1.1em;border-bottom: 3px solid $blue;margin: 10px 0 5px 0;padding-bottom: 5px;font-weight: bold;}
	p:last-child {text-align: left;}
}
.descr {text-align: left;}
.b-door-type {padding-top: 20px;padding-bottom: 20px;
	@media (max-width: $screen-sm-max) {border-bottom: 3px solid #fff;}
	@media (min-width: $screen-md-min) {
		div {position: relative;
			img {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				max-height: 100%;			
			}
		}
		div:before {content: "";display: block;padding-top: 100%;}		
	}
}

.b-door-type-links {
	@include resetUl();
	border: 5px solid $blue;	
	@include clearfix();
	li {display: block;width: 50%;float: left;text-align: center;padding: 20px;}
	a {display: block;}
	b {display: block; margin-top: 10px;}
	@media (min-width: $screen-sm-min) {
		li {width: 25%;}
	}
	@media (min-width: $screen-md-min) {
		
		a {display: flex;align-items: center;}
		img {float:left;margin-right: 5px;}
		b {display: inline;margin: 0;}
	}
}

.ic-door-benefs {
	@include resetUl();
	margin-top: 20px;
	overflow: hidden;
	li {display: block;float: left;width: 50%;text-align: center;padding: 0 15px;
		@media (min-width: $screen-sm-min) {width: 25%;}
	}
	p {line-height: 1.2;font-weight: 600;margin-top: 5px;}
	img {transition: all .3s;}
	li:hover img {transform: rotate(360deg);}
}

.b-door-btns {
	text-align: center;
	p {margin: 0;}
	.btn {width: 100%;font-size: 1.3em;margin-top: 15px;box-shadow: 0 0 0 3px rgba(black,.2);}
}

.b-door-handle {
	@include border();
	text-align: center;
	margin-bottom: 20px;
	padding: 0 10px;
	transition: all .3s;
	.title {font-weight: bold;font-size: 1.1em;line-height: 1.2; margin: 10px 0 0 0;}
	.descr {margin-top: 10px;}
	&:hover {box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);}
}

.f-door {
	border-radius: 5px;
	padding: 20px;
	background-color: #e4f2fb !important;

	.size {float: left;width:45%;}
	.size:last-child {float: right;}
	.xx {width: 10%;display: inline-block;text-align: center;padding-top: 10px;font-size: 1.2em;}
	.discount {
		text-transform: uppercase;
		color: $blue;
		font-weight: bold;
		font-size: 1.75em;
		letter-spacing: -1px;
		line-height: 1.2;
		margin: 0;
		b {color: $red;}
	}
	.rasschet {
		position: relative;
		p {font-weight: bold;font-size: 1.2em;}
		.f-rasschet_tel {margin: 0;width: 100%;padding-right: 150px;
			input {margin: 0;}
		}
	}
		.btn-action {
			font-size: 1.2em;
			position: absolute;
			right: 0;
			bottom:2px;
			padding: 10px 20px;
		}

	@media (min-width: $screen-md-min) {
		background: url('../img/doors/arrow-form-doors.png') -25px 100% no-repeat;
		.discount {width: 50%;float: left;padding: 40px 0 0 100px;}
		.rasschet {width: 50%;float: right;
			p {margin-left: 25px;}
		}
	}		
	@media (min-width: $screen-lg-min) {
		background-position: 0 100%;
		.discount {padding: 10px 0 0 120px;width: 45%;}
		.rasschet {width: 55%;}
	}
}

.b-door-balk-dop {
	display: inline-block;
	width: 48%;
	padding: 0 5px;
	vertical-align: text-top;
	span {display: block;font-size: 1.1em;margin-top: 10px;font-weight: 600;}
	@media (min-width: $screen-sm-min) {width: 32.5%;padding: 10px;}
	@media (min-width: $screen-md-min) {width: 24.5%;}
	&:hover {background: rgba($blue, .1);}
}
.b-door-dop {
	margin-bottom: 20px;
	text-align: center;
	img {border-radius: 100%;}
	span {display: block;font-size: 1.1em;margin-top: 10px;font-weight: 600;}
}

.b-portal-type {
	text-align: center;
	&_i {
		display: block;
		@include border();
		padding: 15px 10px;
		&:hover {box-shadow: 0 0 5px 0 $blue;}
	}
	img {width: 100%;}
	.title {font-weight: 600;margin: 0 0 10px 0;font-size: 1.3em;border-bottom: 3px solid $blue;padding-bottom: 5px;}
	
	.price {max-width: 220px;margin: 10px auto;}
	.descr {margin-bottom: 0}
}

.t-specs .link {display: block; padding: 5px; &:hover {background: rgba($blue, .1);}}
#t-specs-spoiler {
	thead img {max-height: 100px;}
}
#table-wrapper {
	position: relative;
	overflow: hidden;
	height: 430px;
	transition: all .5s;
}
#table-expander {
	text-align: center;
	font-family: Consolas, monaco, monospace;
	font-size: 50px;
	line-height: .6;
	cursor: pointer;
	padding: 15px 0;
}

.b-usage {background: #fff;padding: 10px;text-align: center;transition: all .3s;
	img {width: 100%;}
	.title {font-weight: 600;font-size: 1.3em; margin-top: 10px; border-bottom: 2px solid $blue;position: relative;margin-left: -10px;margin-right: -10px;padding-bottom: 5px;}
	&:hover {box-shadow: 0 0 5px 0 $blue;}
}
/* ==========================================================================
   PLUGINS
   ========================================================================== */

/* Slider */
.b-gallery {
	padding: 0 40px;
	&-itm {text-align: center;padding: 0 5px;}
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-arrow {
	font-family: Consolas, monaco, monospace;
	font-size: 70px;
	cursor: pointer;
	position: absolute;
	line-height: .6em;
	top: 50%;
	margin-top: -20px;
	z-index: 2;
	transition: all .3s;
	opacity: .8;
	&:hover {opacity: 1;}
}
.prevArr {left: 0;}
.nextArr {right: 0;}


/*!
 * Lightbox for Bootstrap 3 by @ashleydw
 * https://github.com/ashleydw/lightbox
 *
 * License: https://github.com/ashleydw/lightbox/blob/master/LICENSE
 */.ekko-lightbox-container{position:relative}.ekko-lightbox-nav-overlay{position:absolute;top:0;left:0;z-index:100;width:100%;height:100%}.ekko-lightbox-nav-overlay a{z-index:100;display:block;width:49%;height:100%;font-size:30px;color:#fff;text-shadow:2px 2px 4px #000;opacity:0;filter:dropshadow(color=#000000,offx=2,offy=2);-webkit-transition:opacity .5s;-moz-transition:opacity .5s;-o-transition:opacity .5s;transition:opacity .5s}.ekko-lightbox-nav-overlay a:empty{width:49%}.ekko-lightbox a:hover{text-decoration:none;opacity:1}.ekko-lightbox .glyphicon-chevron-left{left:0;float:left;padding-left:15px;text-align:left}.ekko-lightbox .glyphicon-chevron-right{right:0;float:right;padding-right:15px;text-align:right}.ekko-lightbox .modal-footer{text-align:left}