@charset "UTF-8";
@import 'css/variables';
@import 'css/base+common';


/* ==========================================================================
   NAVIGATION
   ========================================================================== */
/* but-nav */
.b-but-nav {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 2;
	height: 47px;width: 40px;
	padding: 10px 0 0 10px;
	text-align: center;
	span {color: $blue;font-size: 12px;}
	@media (min-width: $screen-sm-min) {display: none;}	
}
.but-nav {
  position: relative;
  border: none;
  background: none;
  padding: 0;
  height: 20px;
}
.hamburger.icon, .hamburger.icon:before,.hamburger.icon:after {
  border-radius: 5px;
}
.hamburger.icon {
  width: 28px;
  height: 4px;
  background: $blue;
  margin-top: 0;
  transition: all .2s;
  display: inline-block;
  vertical-align: middle;  
  margin-top: -2px;
  &:before,&:after {
    content: '';
    position: absolute;
    left: 0;
    width: 28px;
    height: 4px;    
    background:$blue;
    transition: all .2s;    
  }
  &:before {top: 0}
  &:after {bottom: 0}
  &.active {
    opacity: 0;
    &:before {transform: rotate(30deg);}
    &:after {transform: rotate(-30deg);}
  }
}
.but-nav.active {
  .hamburger.icon {    
      height: 0;
      &:before {transform: rotate(40deg);top: 8px}
      &:after {transform: rotate(-40deg);bottom: 8px}    
  }
}

.b-menu {
	.menu-item {
		a {
			display: block;
		}
	}
}
.b-menu-header {
	@include clearfix();
	float: right;
	margin-top: 44px;
	.menu-item {
		display: block; 
		vertical-align: middle;
		float: left;
		a {
			height: 30px;
			padding-left: 35px;
			line-height: 1;
			font-size: 13px;
			background: url('images/sprite.png') no-repeat;
		}
	}
	.obuchenie {width: 140px;}
	.remont {width: 195px;} 
	.stroit {width: 150px;} 
	.prochee {width: 125px;}
	.pridom {width: 190px;} 
	.kursi {width: 75px;} 
	.obuchenie a {background-position: 0 -1378px;}
	.remont a {background-position: 0 -1523px;}
	.stroit a {background-position: 0 -1330px;}
	.prochee a {background-position: 0 -1427px;}
	.pridom a {background-position: 0 -1475px;}
	.kursi a {background-position: 0 -1282px;line-height: 25px}
}

.b-sidepanel {
	background: #fff;
	@media (max-width: $screen-xs-max) {
		width: 100% !important;
		padding: 20px 0;
		display: none;
	}
	@media (min-width: $screen-sm-min) {
		position: fixed;
		left: 0;
		top:0;
		height: 100%;
		z-index: 10;
		width: 60px;
		overflow: hidden;
		display: block !important;
		.b-wrapper {
			position: relative;
			padding: 100px 15px 0 0;
		}
	}
}
.b-overlay {
	@media (min-width: $screen-sm-min) {
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(black, .6);
		z-index: 9;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: none;
	}
}

.b-menu-main {
	a:hover {background: $blue;color: #fff;text-decoration: none;}
	> .menu-item {
		> a {
			padding: 0 20px 0 65px;
			height: 50px;
			position: relative;
			line-height: 1;
			display: flex;align-items: center;			
			&:before {
				content: "";
				position: absolute;
				width: 40px;height: 40px;
				left: 10px;
				top: 5px;
				background: url('images/sprite.png') no-repeat;
			}			
		}
	}
	.sub-menu {
		a {padding: 6px 15px 6px 65px;}
	}

	.kursi a:before { background-position: 0 0; } 
	.kursi a:hover:before { background-position: 0 -60px; } 
	.obuchenie a:before { background-position: 0 -120px; } 
	.obuchenie a:hover:before { background-position: 0 -180px; } 
	.pridom a:before { background-position: 0 -240px; } 
	.pridom a:hover:before { background-position: 0 -300px; } 
	.prochee a:before { background-position: 0 -360px; } 
	.prochee a:hover:before { background-position: 0 -420px; } 
	.remont a:before { background-position: 0 -480px; } 
	.remont a:hover:before { background-position: 0 -540px; } 
	.stroit a:before { background-position: 0 -600px; } 
	.stroit a:hover:before { background-position: 0 -660px; } 
	
	@media (max-width: $screen-xs-max) {
		.heading {display: none;}
		>.menu-item > a {
			font-weight: 500;
			font-size: 16px;
		}
		.sub-menu-wrap {display: none;}
	}
	@media (min-width: $screen-sm-min) {
		a {border-radius: 4px;}
		> .menu-item {width: 250px;
			> a {
				border-radius: 0 4px 4px 0;
				padding: 0 20px 0 70px;
				height: 60px;
				&:before {top: 10px;}
			}
		}
		.heading {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 16px;
			padding-left: 10px;
			margin: 0 0 15px 0;
		}
		.sub-menu {
			a {padding: 5px 15px;font-size: 13px;}
		}
		.sub-menu-wrap {
			width: 220px;
			position: absolute;
			top: 0;
			left: 250px;
			padding: 100px 13px !important;
			height: 100% !important;
			display: none !important;
		}
		.menu-item-has-children {
			&:hover,&:active,&:focus{
				.sub-menu-wrap {
					display: block !important
				}
			}			
		}
	}
}

.search-form {
	padding: 0 15px 0 65px;
	background: url('images/sprite.png') 10px -720px no-repeat;
	height: 40px;
	margin: 0 0 15px 0;	
	.search-field {
		margin: 0;
		border-radius: 0;
		border-width: 0 0 1px 0;
		padding: 7px 0;
		&:focus {border-color: $blue}
	}
	.search-submit {display: none;}
	@media (min-width: $screen-sm-min) {
		padding: 0 0 0 70px;
		width: 250px;
	}
}
/* ==========================================================================
   HEADER
   ========================================================================== */
.site-header {
	position: relative;
}
.b-logo {
	padding: 15px 0;

	@media (min-width: $screen-sm-min) {
		float: left;
		padding: 30px 0;
	}
}


/* ==========================================================================
   CONTENT
   ========================================================================== */

@media (max-width: $screen-xs-max) {
	.b-main {margin-top: 15px;}
	.site-sidebar {margin-top: 30px;}
}

@media (min-width: $screen-sm-min) {
	
	.site-content {width: 940px;float: left;}
	.site-sidebar {width: 240px;float: right;}
}



/* PAGINATION */
.pagination {
	display: block;
	margin: 0;
	border-radius: 0;
	text-align: center;
	position: relative;
	margin-top: 15px;
	.nav-links {@include clearfix();}
	.page-numbers {
  		color: $base-text;
  		border-radius: 100%;
		display: inline-block;
		vertical-align: middle;
		font-weight: 500;
		padding: 3px 9px;
		margin: 0 3px;
	}
  	.current {background: #fff;}
  	.dots {border: none;padding: 4px 5px;}
  	.prev, .next {
  		position: absolute;  		
  		top: -5px;
  		margin: 0;
  	}
  	.prev {left: 0;}
  	.next {right: 0;}
	@media (max-width: $screen-xs-max) {		
		.form-page {margin-top: 20px;}
	}
}
.pagination .prev
, .pagination .next
, .but-load {
	@include but();
	background: #fff;
	border-radius: 5px;
	color: $base-text;
	padding: 7px 13px;
	&:hover,&:active,&:focus{color: $base-text}
}
.but-load {display: block;}


/* bread */
.breadcrumb {
	font-size: 12.5px;
	text-align: center;
	color: #5e5d5b;
	border-bottom: 1px solid #f5f3f1;
	padding: 22px 15px;
	>span>span * {
		position: relative;
		padding: 0 7px;
		&:first-child {padding-left: 0;}
		&:last-child {padding-right: 0;&:after{content: none}}
	}
}
/* ==========================================================================
   ARTICLE
   ========================================================================== */
.h-art-lg {
	font-size: 17px;
	line-height: 1.2;
	a {color: $link-text}
	@media (min-width: $screen-sm-min) {
		font-size: 25px;
		font-weight: 500;
	}
}

/* text itms */
.art-category {color: $gray; text-transform: uppercase; font-weight: 300;}

.art-views, .art-comments {
	display: inline-block;
	background: url('images/sprite.png') no-repeat;
	padding-left: 18px;
	line-height: 15px;
	color: $gray;
	font-size: 13px;
}
.art-views {background-position: 0 -777px;margin-right: 15px;}
.art-comments {background-position: 0 -807px;}



/* blocks */

.b-art-prev
, .b-art-main .b-wrapper
, .b-sharing
, .comments-area {
	background: #fff;
	border-radius: 5px;	
}

.b-art-prev {
	padding: 0 15px 15px 15px;
	text-align: center;
	margin-bottom: 20px;
	.b-art-img {
		margin: 0 -15px 15px;
		display: block;
		position: relative;
		opacity: 1;
		&:hover {opacity: .85;}
		img {width: 100%; border-radius: 5px 5px 0 0; margin: 0;}
	}
	@media (min-width: $screen-sm-min) {
		padding: 0 50px 30px 50px;
		width: 620px;
		.b-art-img {margin: 0 -50px 20px;}
		.b-wrapper {position: relative;}		
	}
}

.b-art-footer {margin-top: 20px;}

.b-art-prev-sm {
	@media (min-width: $screen-sm-min) {
		padding: 0 20px 20px 20px;
		text-align: left;
		width: 300px;
		.b-art-img {margin: 0 -20px 10px;}
		.art-category {text-transform: none;max-width: 165px}
		.h-art-lg {font-size: 17px;max-width: 180px;}
		.excerpt {display: none;}
		.b-art-footer {position: absolute; top: 0; right: 0;margin: 0;}
		.b-art-header {text-align: left !important; margin: 0 !important;}
	}
}

.b-masonry {
	@media (min-width: $screen-sm-min) {				
		max-width: 940px;
		&:after {
		  content: '';
		  display: block;
		  clear: both;
		}
		.b-art-prev {
			float: left;
			height: 670px;			
		}
		.b-art-prev-sm {height: 325px;}
	}
}


.b-art-main {
	.b-art-header {
		text-align: center;		
		margin-bottom: 25px;
	}
	.art-summary {color: #5e5d5b; font-weight: 500;}
	.art-category {margin: 0;}
	h2 {font-weight: 500;}
	img, p {margin-bottom: 20px;}
	@media (min-width: $screen-sm-min) {
		.b-art-header {margin-bottom: 45px;}	
		img, p {margin-bottom: 30px;}
		p {font-size: 15px;}
	}
}

.b-art-main__i
, .comments-area {
	padding: 30px 20px 50px;
	@media (min-width: $screen-sm-min) {
		padding: 30px 160px 80px;
	}
}

.b-sharing {
	margin-top: 20px;	
	text-align: center;
	padding: 20px 15px;
	p {font-size: 21px;margin: 0;}
	b {
		font-weight: 500;
	}
	@media (min-width: $screen-sm-min) {
		padding: 30px 25px;
	}
}

/* ==========================================================================
	COMMENTS   
   ========================================================================== */
.nav-comments {
	text-align: center;
	margin-bottom: 30px;
	li {
		display: inline-block;		
		margin-left: -6px;
	}
	a {
		border: 2px solid #fff;
		display: block;
		padding: 10px 34px;
		font-size: 12.5px;
		text-decoration: none;
		&:hover {background: rgba(#fff, .5)}
	}
	.active {
		background: #fff !important;
		font-weight: 500;
		
	}
}

.comments-area {
	.comment-list
	, .comment-list ol {
		@include resetUl();
	}
	.comment {margin-bottom: 20px;&:last-child {margin-bottom: 0;}}
	
	.comment-box {
		padding: 0 0 0 80px;
		position: relative;
		margin-bottom: 20px;
	}

	.comment-avatar {
		position: absolute;
		left: 0;
		top: 0;
		width: 60px;
	}
	.comment-author {
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		margin-bottom: 15px;
		display: block;
		line-height: 1;
		cite {font-style: normal;}
	}	
	.comment-text {
		font-weight: 300;
		min-height: 70px;
		p {margin: 0;}
	}
	.comment-footer {margin-top: 15px;}
	.comment-time {
		font-weight: 300;
		text-transform: uppercase;
		color: $gray;
		margin-right: 20px;
	}
	.comment-reply-link {
		display: inline-block;
		background: url('images/sprite.png') no-repeat 0 -837px;
		padding-left: 15px;
		color: $link-text;
		cursor: pointer;
	}
	.children {
		padding-left: 7% !important;
	}
	@media (max-width: $screen-xs-max) {

	}

	@media (min-width: $screen-sm-min) {		
		margin-top: 20px;
			
		

	}
}

.comment-reply-title {	
	margin-bottom: 15px;
}
/* ==========================================================================
   FORMS
   ========================================================================== */


.form {
	.h-main {margin-bottom: 10px;}
	.submit {padding: 10px 15px;}
	@media (max-width: $screen-xs-max) {
		.submit {width: 100%;margin-top: 15px;}
	}
	@media (min-width: $screen-sm-min) {
		.submit {margin-bottom: 0;}
		.b-bottom {margin-top: 15px;}
	}
}

.comment-form {	
	.b-checkbox {margin-top: 10px;}
	
	@media (min-width: $screen-sm-min) {
		.author, .email, .url {float: left;width: 32.3%;margin-right: 1.5%;}
		.url {margin-right: 0;}
		.b-bottom {@include clearfix();}
		.b-checkbox, .b-but {width: 50%; float: left;}		
		.b-but {text-align: right;}
	}
}


/* ==========================================================================
   MISC
   ========================================================================== */
.b-social {
	@media (max-width: $screen-xs-max) {
		text-align: center;
		.b-facebook {margin-top: 10px;}
	}
	@media (min-width: $screen-sm-min) {
		@include clearfix();
		.b-buttons {display: inline-block;}
		.b-facebook {width: 210px;float: right;text-align: right;}
	}
}




/* ==========================================================================
   SIDEBAR
   ========================================================================== */
.widget {
	border-radius: 5px;
	margin-bottom: 20px;
}
.widget-header {font-size: 17px;font-weight: 500;margin-bottom: 10px;}

.widget-subscribe, .widget-book {height: 325px;}

.widget-subscribe {
	background: #fff;
	text-align: center;
	padding: 5px 10px 10px;

	.heading {
		line-height: 1.2;
		margin: 15px 0;
		font-weight: 500;
	}
	.email {background: #f5f3f1;border-color: #f5f3f1;}
	.but {
		font-size: 13px;
		width: 100%;
	}
}

.widget-book {
	background: #fff;
	text-align: center;
	padding: 20px 13px 20px;	
	position: relative;
	&:after {
		content: ""; position: absolute;left: 0;bottom: 0; width: 60px;height: 2px;background: #75a809;
	}
	.b-wrap {
		text-align: left;
		overflow: hidden;
		margin-top: 18px;
	}
	.heading {
		line-height: 1.1;
		float: left;
		width: 130px;
		font-size: 13px;
		font-weight: 500;
	}
	.but {
		font-weight: 400;
		padding: 5px 12px 7px;
		text-transform: none;
		float: right;
		font-size: 13px;
	}
}

@media (min-width: 520px) and (max-width: $screen-xs-max) {
	.widget-subscribe,
	.widget-book {
		width: 48.5%;
		float: left;
	}
	.widget-subscribe {margin-right: 3%;}
}

.widget-social {
	clear: both;
	.b-wrap {
		background: #fff;
		border-radius: 5px;
		text-align: center;
		padding: 25px;
	}
	.link-main {
		display: inline-block;
		background: url('images/sprite.png') 0 -1213px no-repeat;
		width: 49px; height: 49px;
		vertical-align: middle;
	}
	a:hover {opacity: .8}
}
.nav-social {
	overflow: hidden;
	margin-top: 17px;
	text-align: center;
	.menu-item {
		display: inline-block;
		margin-left: -4px;
		&:first-child a {border-radius: 4px 0 0 4px}
		&:last-child a {border-radius: 0 4px 4px 0}
	}
	a {display: block;width: 48px; height: 48px;background: url('images/sprite.png') no-repeat;}
	a:hover {opacity: .8}
	.fb { background-position: 0 -873px; } 
	.ok { background-position: 0 -941px; } 
	.tl { background-position: 0 -1009px; } 
	.tw { background-position: 0 -1077px; } 
	.vk { background-position: 0 -1145px; } 
}


.b-art-sm {
	margin-bottom: 12px;
	display: table;
	img {margin: 0;}
	.b-img {
		display: table-cell;
		width: 100px;
	}
	.b-wrap {
		display: table-cell;
		vertical-align: middle;
		padding: 0 0 0 15px;		
	}
	.h-art-sm, .art-category {
		font-size: 12.5px;
	}
	.art-category {text-transform: none;font-weight: 400;margin-bottom: 5px;}
	.h-art-sm {
		font-weight: 500;		
		margin: 0;
	}
}
.b-arts-related {
	.b-art-sm {
		background: #fff;
		.art-category {color: #afafaf}
		.b-wrap {padding: 0 15px}
		border-radius: 5px;
		margin-bottom: 20px;
		img {border-radius: 5px 0 0 5px;}

	}
}

.b-arts-other .b-art-prev
,.b-arts-related .b-art-sm {
	width: 100%;
	@media (min-width: $screen-sm-min) {
		float: left;
		width: 300px;
		margin-right: 20px;
		&:nth-child(3n+4) {margin-right: 0}
		&:nth-child(3n+2) {clear: left;}
	}	
}
/* ==========================================================================
   FOOTER
   ========================================================================== */

.site-footer {
	background: #fff; 
	margin-top: 30px;

	.heading {
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 500;
		line-height: 1;
		margin: 0 0 10px 0;
	}
	small {font-weight: 500; font-size: 13px;}
	@media (max-width: $screen-xs-max) {
		padding-bottom: 20px;
		.col {margin-top: 30px;}
	}
	@media (min-width: $screen-sm-min) {		
		padding: 50px 0 60px;
		margin-top: 80px;
		hr {margin: 30px 0;}
		.designer {text-align: right;}
		.heading {margin: 0 0 25px 0;}
	}
}
.nav-footer {
	.menu-item {margin-bottom: 7px; line-height: 1.2}
	
}

@import 'css/plugins';
@import 'css/other';