@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,500";
/* ==========================================================================
   BASE
   ========================================================================== */
html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  color: #3d2a2b;
  font-size: 15px; }

img {
  max-width: 100%; }

a {
  color: #4a99bd; }
  a:hover, a:active, a:focus {
    text-decoration: none; }

table {
  width: 100%; }

small {
  font-size: 100%; }

p {
  margin: 0 0 25px 0; }

/* ==========================================================================
  COMMON
  ========================================================================== */
.container {
  max-width: 1000px; }

.b-rel {
  position: relative; }

.b-mg {
  margin-top: 30px; }

p.center {
  text-align: center; }

p.right {
  text-align: right; }

p.bold {
  font-weight: 700; }

.p-all {
  text-align: center;
  margin-top: 1.5em; }

.italic {
  font-style: italic; }

@media (min-width: 768px) {
  .tr-md {
    text-align: right; } }

@media (max-width: 767px) {
  .mg-xs {
    margin-top: 15px !important; } }

@media (min-width: 768px) {
  .mg-sm {
    margin-top: 15px !important; } }

@media (min-width: 768px) {
  .tc-sm {
    text-align: center; } }

@media (max-width: 767px) {
  .tc-xs {
    text-align: center; } }

.b-flex {
  display: flex; }

@media (min-width: 768px) {
  .col-50 {
    width: 50%; }

  .col-55 {
    width: 55%; }

  .col-45 {
    width: 45%; } }
/* BUTTONS */
.but {
  display: inline-block;
  padding: 4px 7px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  background: none; }

.but:focus,
.but:active:focus,
.but.active:focus,
.but.focus,
.but:active.focus,
.but.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.but:hover,
.but:focus,
.but.focus {
  text-decoration: none; }

.but:active,
.but.active {
  text-decoration: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.but-nav {
  position: relative;
  border: none;
  background: none;
  padding: 0;
  height: 20px; }

.hamburger.icon {
  width: 25px;
  height: 4px;
  background-color: #fffdf8;
  margin-top: -3px;
  transition: all .2s;
  display: inline-block;
  vertical-align: middle; }
  .hamburger.icon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 4px;
    background-color: #fffdf8;
    transition: all .2s; }
  .hamburger.icon:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 25px;
    height: 4px;
    background-color: #fffdf8;
    transition: all .2s; }
  .hamburger.icon.active {
    opacity: 0; }
    .hamburger.icon.active:before {
      transform: rotate(30deg); }
    .hamburger.icon.active:after {
      transform: rotate(-30deg); }

.but-nav.active .hamburger.icon {
  height: 0; }
  .but-nav.active .hamburger.icon:before {
    transform: rotate(40deg);
    top: 8px; }
  .but-nav.active .hamburger.icon:after {
    transform: rotate(-40deg);
    bottom: 8px; }

.but-main {
  background: #4a99bd;
  color: #fffdf8;
  border-top: 1px solid #b3eeff;
  box-shadow: 0 0 0 2px #e5d4c3;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 7px 15px;
  cursor: pointer;
  font-weight: 700;
  font-size: 13px; }
  .but-main:hover, .but-main:active, .but-main:focus {
    color: #fff;
    background: #5da4c4; }

.but-second {
  background: #4a99bd;
  color: #fffdf8;
  border-top: 1px solid #b3eeff;
  box-shadow: 0 0 0 2px #e5d4c3;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 7px 15px;
  cursor: pointer;
  font-weight: 700;
  background: #ccbaa9;
  border-color: #fff;
  font-size: 13px; }
  .but-second:hover, .but-second:active, .but-second:focus {
    color: #fff;
    background: #d5c7b9; }

@media (max-width: 767px) {
  .but-more {
    width: 100%;
    font-size: 17px; } }

.but-up {
  background: url("images/sprite.png") 0 -218px no-repeat;
  width: 54px;
  height: 75px;
  display: inline-block;
  font-size: 0;
  text-indent: -1000em;
  position: absolute;
  right: -70px;
  bottom: 0; }

.but-geo {
  background: #4a99bd;
  color: #fffdf8;
  border-top: 1px solid #b3eeff;
  box-shadow: 0 0 0 2px #e5d4c3;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 7px 15px;
  cursor: pointer;
  font-weight: 700;
  width: 100%;
  font-size: 17px;
  background: #f9ebe5;
  color: #643436;
  border-color: #fff;
  padding: 12px 0;
  margin: 0; }

/* FORMS */
input[type="text"],
input[type="tel"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 7px 10px;
  border: 2px solid #d2beaa;
  color: #643436;
  font-size: 14px; }

textarea {
  resize: vertical; }

label {
  font-weight: normal;
  cursor: pointer; }

label.check {
  font-size: 14px; }
  label.check input {
    visibility: hidden;
    position: absolute;
    left: -200em; }
  label.check span {
    display: inline-block;
    position: relative;
    padding-left: 25px; }
    label.check span:after {
      content: "";
      border: 2px solid #d2beaa;
      background: #fffdf8;
      width: 15px;
      height: 15px;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 3px; }
  label.check input:checked + span:before {
    content: "\2713";
    font-size: 20px;
    font-family: 'Open Sans', TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
    position: absolute;
    left: 2px;
    bottom: 0;
    z-index: 1;
    color: #643436; }

.search-form {
  position: relative; }
  .search-form .search-field {
    padding-right: 27px; }
  .search-form .search-submit {
    background: url("images/sprite.png") no-repeat 0 -130px;
    width: 16px;
    height: 16px;
    border: none;
    position: absolute;
    top: 12px;
    right: 10px; }

/*HEADINGS*/
.h-main {
  margin: 0 0 20px 0;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 20px; }
  @media (min-width: 768px) {
    .h-main {
      font-size: 25px; } }

/* IMAGES */
.aligncenter, .alignleft, .alignright {
  display: block;
  margin: 0 auto 20px; }

@media (min-width: 768px) {
  .alignleft, .alignright {
    display: inline-block;
    max-width: 50%; }

  .alignleft {
    float: left;
    margin: 0 20px 15px 0; }

  .alignright {
    float: right;
    margin: 0 0 15px 20px; } }
.spanlink {
  cursor: pointer;
  /* ╨╗╤О╨▒╤Л╨╡ ╤Б╤В╨╕╨╗╨╕, ╤З╤В╨╛╨▒╤Л ╨┐╤Б╨╡╨▓╨┤╨╛-╤Б╤Б╤Л╨╗╨║╨░ ╨▓╤Л╨│╨╗╤П╨┤╨╡╨╗╨░ ╨║╨░╨║ ╨╛╨▒╤Л╤З╨╜╨░╤П */ }

.pagination {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  display: block;
  color: #ccbaa9; }
  .pagination a {
    color: #ccbaa9; }
  .pagination .page-numbers {
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Roboto Condensed', sans-serif; }
  .pagination .but {
    color: #fff;
    width: auto;
    height: auto; }
  .pagination .current {
    background: #4a99bd;
    color: #fffdf8; }
  .pagination .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center; }

@media (min-width: 768px) {
  html {
    background: url("images/bg-body.jpg"); }

  body {
    background: url("images/bg-main.png") 50% 0 no-repeat;
    background-color: none; } }
/* ==========================================================================
   HEADER
   ========================================================================== */
.site-header {
  background: url("images/bg-top.jpg") 50% 0; }
  @media (min-width: 768px) {
    .site-header {
      border-bottom: 4px solid #8c7868; } }
  @media (max-width: 767px) {
    .site-header .container {
      padding: 0; } }
  @media (min-width: 992px) {
    .site-header .b-logo {
      float: left;
      min-height: 80px; }
    .site-header .site-navigation {
      margin-top: 15px;
      float: right; } }

/* LOGO */
.b-logo {
  position: relative;
  padding: 10px 0 0 50px;
  min-height: 45px;
  margin-top: 5px; }
  .b-logo .logotype {
    position: absolute;
    left: 0;
    top: 0; }
  @media (max-width: 767px) {
    .b-logo {
      border-bottom: 4px solid #8c7868; }
      .b-logo .logotype {
        width: 38px;
        left: 10px; } }
  @media (min-width: 768px) {
    .b-logo {
      padding: 12px 0 0 80px; } }

.site-title {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fffdf8;
  line-height: 1.037;
  text-shadow: 0px 0px 5px rgba(204, 181, 156, 0.75);
  margin: 0; }
  @media (min-width: 768px) {
    .site-title {
      font-size: 27px; } }

.site-description {
  font-size: 12px;
  font-family: "Roboto Condensed";
  color: #643436;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px 0 0 0; }
  @media (max-width: 767px) {
    .site-description {
      display: none; } }

.b-butNav {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 15px; }

.b-search {
  background: #514e4e;
  background: -moz-linear-gradient(top, #514e4e 0%, #a3a2a2 100%);
  background: -webkit-linear-gradient(top, #514e4e 0%, #a3a2a2 100%);
  background: linear-gradient(to bottom, #514e4e 0%, #a3a2a2 100%);
  height: 47px;
  position: relative;
  padding-left: 125px;
  border-radius: 10px 10px 0 0;
  margin-top: 35px;
  border-top: 1px solid #7B7878; }
  .b-search-ttl {
    text-transform: uppercase;
    height: 47px;
    line-height: 47px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 125px; }
  .b-search-form {
    height: 47px;
    display: inline-block;
    padding: 5px 20px 0 0;
    width: 100%;
    border-radius: 0 10px 0 0; }
  @media (max-width: 767px) {
    .b-search {
      padding-left: 55px; } }
  @media (min-width: 768px) {
    .b-search {
      background: #361416;
      background: -moz-linear-gradient(top, #361416 0%, #a50a12 100%);
      background: -webkit-linear-gradient(top, #361416 0%, #a50a12 100%);
      background: linear-gradient(to bottom, #361416 0%, #a50a12 100%); }
      .b-search-form {
        padding: 5px 20px 0 50px;
        position: relative;
        background: #514e4e;
        background: -moz-linear-gradient(top, #514e4e 0%, #a3a2a2 100%);
        background: -webkit-linear-gradient(top, #514e4e 0%, #a3a2a2 100%);
        background: linear-gradient(to bottom, #514e4e 0%, #a3a2a2 100%); }
        .b-search-form:before {
          content: "";
          background: url("images/sprite.png") -102px -35px no-repeat;
          width: 52px;
          height: 51px;
          position: absolute;
          bottom: 0;
          left: -20px; } }
  .b-search form {
    margin: 0; }
  .b-search-form_i {
    position: relative; }
  .b-search input {
    padding-left: 15px;
    padding-right: 35px;
    height: 35px;
    background: #373737;
    border: none;
    border-radius: 7px;
    box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.5); }
  .b-search .but-search {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 31px;
    height: 31px; }
  .b-search .but-nav {
    position: absolute;
    left: 5px;
    top: 2px; }

@media (min-width: 768px) {
  .b-navWrap {
    min-height: 67px;
    background: url("images/bg-menu.png") repeat-x; } }

.b-menu {
  list-style: none;
  padding: 0;
  margin: 0; }
  .b-menu a {
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #3d2a2b;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif; }
  @media (max-width: 767px) {
    .b-menu {
      display: none; }
      .b-menu a {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #e5d4c3;
        background: #ebded3;
        padding: 15px 0; }
      .b-menu a:hover {
        background: #cab397;
        color: #fff; } }
  @media (min-width: 768px) {
    .b-menu {
      display: block !important;
      padding: 15px 0; }
      .b-menu .menu-item {
        display: inline-block;
        position: relative;
        padding: 0 10px; }
        .b-menu .menu-item:after {
          content: "";
          width: 2px;
          height: 19px;
          background: #e5d4c3;
          position: absolute;
          right: -3px;
          top: 1px; }
        .b-menu .menu-item:last-child {
          padding-right: 0; }
        .b-menu .menu-item:last-child:after {
          content: none; }
      .b-menu a {
        color: #fffdf8;
        text-shadow: 0px 0px 5px rgba(204, 181, 156, 0.75); }
        .b-menu a:hover, .b-menu a:active, .b-menu a:focus {
          text-decoration: underline; } }
  @media (min-width: 992px) {
    .b-menu a {
      font-size: 15px; } }

/* ==========================================================================
   CONTENT
   ========================================================================== */
@media (max-width: 767px) {
  .b-main {
    margin-top: 20px; } }

.b-main {
  position: relative; }
  @media (max-width: 767px) {
    .b-main {
      padding-bottom: 30px; } }
  @media (min-width: 768px) {
    .b-main {
      margin-top: 20px; } }

hr.dots {
  border: none;
  border-top: 1px dashed #e5d4c3; }

.b-breadcrumbs {
  margin-bottom: 20px; }
  .b-breadcrumbs ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .b-breadcrumbs li {
    display: inline-block;
    margin-right: 10px; }
  .b-breadcrumbs a {
    background: #4a99bd;
    color: #fffdf8;
    border-top: 1px solid #b3eeff;
    box-shadow: 0 0 0 2px #e5d4c3;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 7px 15px;
    cursor: pointer;
    font-weight: 700;
    background: #ccbaa9;
    border-color: #fff;
    font-size: 13px;
    font-size: 13px;
    text-transform: none;
    font-weight: 400;
    padding: 5px 10px; }
  .b-breadcrumbs li:last-child a {
    background: #4a99bd; }

@media (min-width: 768px) {
  .site-content {
    float: left;
    width: 66%;
    position: relative;
    z-index: 1; }

  .site-sidebar {
    float: right;
    width: 37%;
    margin-left: -5%; }

  .b-border-top {
    border-style: solid;
    border-width: 29px 31px 0 30px;
    -moz-border-image: url(images/borders-1.png) 29 31 35 30 repeat;
    -webkit-border-image: url(images/borders-1.png) 29 31 35 30 repeat;
    -o-border-image: url(images/borders-1.png) 29 31 35 30 repeat;
    border-image: url(images/borders-1.png) 29 31 35 30 fill repeat; }

  .b-border-sides {
    padding: 20px 0;
    border-style: solid;
    border-width: 0px 27px;
    -moz-border-image: url(images/borders-1.png) 28 27 32 repeat;
    -webkit-border-image: url(images/borders-1.png) 28 27 32 repeat;
    -o-border-image: url(images/borders-1.png) 28 27 32 repeat;
    border-image: url(images/borders-1.png) 28 27 32 fill repeat; }

  .b-border-decor {
    background: #fffdf8;
    position: relative;
    height: 45px;
    margin: 0 31px;
    padding: 23px 15px 0 15px; }
    .b-border-decor:before, .b-border-decor:after {
      content: "";
      position: absolute;
      top: 0;
      height: 45px;
      width: 31px;
      background: url("images/borders-2.png") no-repeat; }
    .b-border-decor:before {
      left: -31px; }
    .b-border-decor:after {
      right: -31px;
      background-position: 100% 0; }
    .b-border-decor hr {
      margin: 0; }

  .b-border-bottom {
    border-style: solid;
    border-width: 0px 10px 12px;
    position: relative;
    z-index: 1;
    -moz-border-image: url(images/borders-3.png) 12 10 repeat;
    -webkit-border-image: url(images/borders-3.png) 12 10 repeat;
    -o-border-image: url(images/borders-3.png) 12 10 repeat;
    border-image: url(images/borders-3.png) 12 10 fill repeat; }

  .b-bg-norm {
    margin: -5px 4px 0;
    background: #fffdf8;
    padding: 25px;
    box-shadow: 0 5px 5px 1px #c2ac95; } }
/* CATEGORIES BLOCK*/
.s-categories {
  margin-top: 15px; }
  .s-categories .but {
    margin: 0;
    font-size: 17px;
    padding: 15px 0; }
  @media (min-width: 768px) {
    .s-categories {
      margin-top: 320px; }
      .s-categories .b-inner {
        border-style: solid;
        border-width: 29px 31px 35px 30px;
        -moz-border-image: url(images/borders-1.png) 29 31 35 30 repeat;
        -webkit-border-image: url(images/borders-1.png) 29 31 35 30 repeat;
        -o-border-image: url(images/borders-1.png) 29 31 35 30 repeat;
        border-image: url(images/borders-1.png) 29 31 35 30 fill repeat; } }
  .s-categories .search-form {
    margin-bottom: 20px; }

.b-menu-categs {
  list-style: none;
  padding: 0;
  margin: 0; }
  .b-menu-categs a {
    text-align: center;
    display: block;
    color: #643436;
    font-size: 16px;
    font-weight: 500; }
  @media (max-width: 767px) {
    .b-menu-categs {
      display: none;
      box-shadow: 0 0 0 2px #d5c7ba; }
      .b-menu-categs a {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #e5d4c3;
        background: #ebded3;
        padding: 12px 0; }
      .b-menu-categs a:hover {
        background: #cab397;
        color: #fff; } }
  @media (min-width: 768px) {
    .b-menu-categs {
      text-align: center;
      display: block !important; }
      .b-menu-categs .menu-item {
        display: inline-block;
        width: 115px;
        vertical-align: text-top;
        margin: 10px 4px; }
      .b-menu-categs a {
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        padding-top: 117px;
        font-size: 13px;
        line-height: 17px;
        background: url("images/categories.png") no-repeat; }
      .b-menu-categs .categ-novost a {
        background-position: 0 -1540px; }
      .b-menu-categs .categ-goroda a {
        background-position: 0 -1694px; }
      .b-menu-categs .categ-cult a {
        background-position: 0 -770px; }
      .b-menu-categs .categ-turism a {
        background-position: 0 -616px; }
      .b-menu-categs .categ-trop a {
        background-position: 0 -308px; }
      .b-menu-categs .categ-activ a {
        background-position: 0 -462px; }
      .b-menu-categs .categ-medic a {
        background-position: 0 -1078px; }
      .b-menu-categs .categ-kuhnya a {
        background-position: 0 -924px; }
      .b-menu-categs .categ-nedv a {
        background-position: 0 -1386px; }
      .b-menu-categs .categ-pokup a {
        background-position: 0 0; }
      .b-menu-categs .categ-spec a {
        background-position: 0 -1232px; }
      .b-menu-categs .categ-razn a {
        background-position: 0 -154px; }
      .b-menu-categs .categ-faq a {
        background-position: 0 -1848px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .b-menu-categs .menu-item {
      margin: 10px 3px; } }

.s-geo {
  margin-top: 20px; }
  .s-geo .widget {
    margin-top: 0;
    display: none; }
  .s-geo .widget-header {
    display: none; }
  @media (min-width: 768px) {
    .s-geo {
      display: none; } }

/* ARTICLE */
@media (max-width: 767px) {
  .b-art-prev img {
    width: 100%; }
  .b-art-prev:before, .b-art-prev:after {
    content: "";
    height: 6px;
    border-top: 1px solid #f9f8f5;
    border-bottom: 1px solid #e5d4c3;
    display: block;
    margin: 20px 0; } }
@media (max-width: 991px) {
  .b-art-prev .col-2 {
    margin-top: 15px; } }
@media (min-width: 992px) {
  .b-art-prev .col-1 {
    float: left;
    width: 48%; }
  .b-art-prev .col-2 {
    float: right;
    width: 50%; } }

.art-thumb {
  position: relative; }
  .art-thumb:after {
    content: "";
    background: url("images/logotype.png") no-repeat;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 73px;
    height: 73px;
    opacity: .8; }

.art-thumb img, .art-body img {
  border: 2px solid #e5d4c3;
  box-shadow: inset 0 0 0 1px #fff; }

.art-header,
.comment-header {
  border: 1px dashed #e5d4c3;
  border-left: none;
  border-right: none;
  color: #b9a998; }
  .art-header:before, .art-header:after,
  .comment-header:before,
  .comment-header:after {
    content: "";
    display: table; }
  .art-header:after,
  .comment-header:after {
    clear: both; }
  .art-header a,
  .comment-header a {
    text-decoration: underline; }

.art-header {
  font-size: 12px;
  padding-top: 12px;
  margin: 15px 0 10px; }
  @media (min-width: 768px) {
    .art-header {
      font-size: 13px;
      margin: 20px 0; } }
  @media (max-width: 767px), (min-width: 992px) {
    .art-header .art-categ {
      float: right; } }

.art-author, .art-time {
  display: inline-block; }

.art-time {
  margin-left: 5px; }
  .art-time:before {
    content: "/";
    margin-right: 5px; }

.art-author, .art-time, .art-categ {
  margin-bottom: 12px; }

.art-views, .art-comments {
  margin: 7px 0 0 0;
  display: inline-block;
  background: url("images/sprite.png") no-repeat;
  color: #4a99bd;
  font-weight: 500; }

.art-views {
  background-position: 0 -172px;
  padding-left: 23px; }

.art-comments {
  background-position: 0 4px;
  padding-left: 20px; }

@media (min-width: 768px) {
  .art-footer {
    display: flex;
    justify-content: space-between; } }
.art-footer .but {
  padding: 7px 20px; }
  @media (max-width: 767px) {
    .art-footer .but {
      width: 100%;
      font-size: 17px; } }

.art-body p {
  line-height: 1.5; }
.art-body blockquote {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
  background: #fff;
  border-left: 4px solid #4a99bd;
  color: #4a99bd;
  font-size: 1em;
  padding: 20px; }
.art-body h2 {
  color: #4a99bd;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .art-body h2 {
      font-size: 21px; } }
.art-body ol, .art-body ul {
  padding-left: 15px;
  margin-bottom: 25px; }
  .art-body ol li, .art-body ul li {
    position: relative;
    margin-bottom: 10px;
    display: block;
    padding-left: 25px; }
.art-body ol {
  counter-reset: item; }
  .art-body ol li:before {
    content: counter(item) ". ";
    position: absolute;
    left: 0;
    top: 0;
    counter-increment: item;
    color: #4a99bd; }
.art-body ul {
  list-style: none; }
  .art-body ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 6px;
    width: 8px;
    height: 8px;
    background: #4a99bd;
    border-radius: 100%; }
.art-body table thead {
  background: #fef4ec;
  color: #4a99bd; }
  .art-body table thead th {
    font-weight: 500; }
.art-body table th, .art-body table td {
  padding: 15px 20px;
  border: 1px solid #ecf0f1; }
.art-body table td {
  font-size: 14px; }
@media (max-width: 991px) {
  .art-body table {
    display: block;
    max-width: min-content;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap; } }

.b-sharing .headline {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  color: #643436;
  font-size: 1.2em;
  margin-bottom: 10px; }
@media (max-width: 767px) {
  .b-sharing {
    margin-top: 20px;
    border-top: 1px dashed #e5d4c3;
    padding: 15px 0; }
    .b-sharing:after {
      content: "";
      height: 6px;
      background: #fffdf8;
      border-top: 1px solid #f9f8f5;
      border-top: 2px solid #e5d4c3;
      display: block;
      margin-top: 20px; } }

.b-art-rel {
  margin-top: 20px; }
  @media (max-width: 767px) {
    .b-art-rel {
      display: table; }
      .b-art-rel .col-1, .b-art-rel .col-2 {
        display: table-cell;
        vertical-align: top; }
      .b-art-rel .col-1 {
        min-width: 130px; }
      .b-art-rel .col-2 {
        padding: 0 0 0 10px; }
      .b-art-rel .art-ttl {
        margin-bottom: 5px;
        font-size: 16px;
        max-height: 37px;
        overflow: hidden; } }
  .b-art-rel .b-head {
    font-size: 13px;
    margin-bottom: 10px; }
    .b-art-rel .b-head .art-categ {
      display: inline-block;
      margin: 0 10px 0 0; }
      .b-art-rel .b-head .art-categ a {
        text-decoration: underline;
        font-weight: 500; }
  .b-art-rel .art-views {
    margin-right: 10px; }
  .b-art-rel img {
    border: 2px solid #e5d4c3;
    box-shadow: inset 0 0 0 1px #fff; }
  .b-art-rel .art-ttl {
    line-height: 1.2; }
    .b-art-rel .art-ttl a {
      color: #643436;
      font-weight: 500; }
    @media (min-width: 768px) {
      .b-art-rel .art-ttl {
        margin: 10px 0; } }
  .b-art-rel .but {
    width: 100%; }

/* COMMENTS */
.commentlist,
.commentlist ol {
  list-style: none;
  padding: 0;
  margin: 0; }

.commentlist .comment {
  margin-top: 20px; }
.commentlist .children {
  margin-left: 7%; }

.comment-header {
  font-size: 13px;
  padding: 5px 10px;
  position: relative; }
  .comment-header .userpic {
    width: 35px;
    margin-right: 10px; }
  @media (max-width: 767px) {
    .comment-header {
      padding-left: 50px; }
      .comment-header .userpic {
        position: absolute;
        left: 0;
        top: 5px; } }

.comment-author {
  font-style: normal;
  color: #643436; }
  @media (max-width: 767px) {
    .comment-author {
      float: left; } }

@media (max-width: 767px) {
  .comment-time {
    display: block;
    float: left;
    clear: left;
    margin-bottom: 0; } }
@media (min-width: 768px) {
  .comment-time:before {
    content: "/";
    margin: 0 5px 0 10px; } }

.comment-reply-link {
  font-weight: 500;
  top: 10px;
  right: 10px;
  position: absolute; }

.comment-text {
  padding: 15px 20px;
  border-bottom: 1px dashed #e5d4c3; }

.bypostauthor {
  background: #edf5f9; }

.contact-form, .comment-respond {
  background: #ebded3;
  border: 2px solid #d2beaa;
  padding: 20px; }
  .contact-form input, .contact-form textarea, .comment-respond input, .comment-respond textarea {
    margin-bottom: 10px; }

.comment-respond .comment-form {
  margin-top: 20px; }
.comment-respond .b-smileys img {
  cursor: pointer; }
.comment-respond .b-submit {
  text-align: center; }
@media (min-width: 768px) and (max-width: 991px) {
  .comment-respond .b-submit {
    margin-top: 15px; } }
@media (min-width: 992px) {
  .comment-respond .b-smileys {
    float: left;
    width: 64%; }
  .comment-respond .b-submit {
    float: right;
    width: 36%;
    padding: 5px 0;
    text-align: right; } }
.comment-respond .subscribe-to-comments {
  margin-bottom: 10px; }
@media (min-width: 992px) {
  .comment-respond .b-inputs input {
    width: 33%;
    float: left;
    margin-right: .5%; }
    .comment-respond .b-inputs input:last-child {
      margin-right: 0; } }

.contact-form .h-main {
  margin-bottom: 20px; }
.contact-form .b-submit {
  text-align: center; }
  @media (min-width: 992px) {
    .contact-form .b-submit {
      text-align: right; } }
@media (min-width: 992px) {
  .contact-form .b-inputs input {
    width: 49.5%;
    float: left;
    margin-right: .8%; }
    .contact-form .b-inputs input:last-child {
      margin-right: 0; } }

/* ==========================================================================
   SIDEBAR
   ========================================================================== */
.site-sidebar .b-inner {
  background: #ebded3;
  border: 2px solid #fffdf8;
  padding: 20px 20px 20px 40px;
  margin-top: 30px; }

.widget {
  margin-top: 35px;
  display: block;
  box-shadow: 0 0 0 2px #d5c7ba; }
  .widget:first-child {
    margin-top: 0; }

.widget-header,
.b-subscribe .headline {
  color: #4391b5;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif; }

.widget-header {
  background: url("images/bg-widget.png") 50% 0;
  padding: 10px 0; }

/*  */
.widget-search {
  box-shadow: none;
  padding-left: 40px; }

/*  */
.widget-geography {
  background: #f9ebe5; }
  .widget-geography ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .widget-geography a {
    color: #643436;
    display: block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e5d4c3;
    padding: 10px 0 10px 45px;
    background: url("images/sprite.png") 17px -27px no-repeat; }
    @media (min-width: 992px) {
      .widget-geography a {
        font-size: 16px; } }
  .widget-geography a:hover {
    background-position: 17px -71px;
    background-color: #d6aca0;
    color: #fffdf8; }

/* SUBSCRIBE */
.b-subscribe {
  box-shadow: none;
  border-style: solid;
  border-width: 16px 16px 17px;
  -moz-border-image: url(images/border-subscribe.png) 16 16 17 repeat;
  -webkit-border-image: url(images/border-subscribe.png) 16 16 17 repeat;
  -o-border-image: url(images/border-subscribe.png) 16 16 17 repeat;
  border-image: url(images/border-subscribe.png) 16 16 17 repeat; }
  .b-subscribe_i {
    padding: 7px 0;
    background: url("images/bg-subscribe.jpg") 50% 0; }
  .b-subscribe_i_i:before, .b-subscribe_i_i:after {
    content: "";
    display: block;
    height: 5px;
    background: url("images/gr-sub-2.png"); }
  .b-subscribe_i_i:before {
    margin-bottom: 10px; }
  .b-subscribe_i_i:after {
    margin-top: 15px; }
  .b-subscribe .headline {
    margin: 0;
    padding: 0 10px;
    background: url("images/gr-sub-1.png") 100% 0 no-repeat; }

.form-subscribe {
  margin: 0;
  margin: 10px 5% 0;
  position: relative; }
  .form-subscribe .but {
    position: absolute;
    right: 2px;
    top: 2px;
    width: auto; }

@media (max-width: 991px) {
  .site-sidebar .form-subscribe .but {
    position: inherit;
    width: 100%; } }

/* POP */
.widget-pop {
  background: #fffdf8; }
  .widget-pop .b-wrapper {
    padding: 0 20px 30px; }

.art-prev-sm {
  margin-top: 20px; }
  @media (min-width: 992px) {
    .art-prev-sm:before, .art-prev-sm:after {
      content: "";
      display: table; }
    .art-prev-sm:after {
      clear: both; }
    .art-prev-sm .col-1 {
      float: left;
      width: 46%; }
    .art-prev-sm .col-2 {
      float: right;
      width: 50%; } }
  .art-prev-sm img {
    border: 2px solid #e5d4c3;
    box-shadow: inset 0 0 0 1px #fff; }
  .art-prev-sm .headline {
    display: block;
    font-weight: 500;
    color: #643436;
    line-height: 18px; }
  .art-prev-sm .art-views, .art-prev-sm .art-comments {
    font-size: 13px; }
  .art-prev-sm .art-views {
    margin-right: 10px; }

/* commenters */
.widget-commenters {
  background: #fffdf8;
  text-align: center; }
  .widget-commenters ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 20px 0 5px 0; }
  .widget-commenters li {
    display: inline-block;
    margin: 0 5px 15px; }
  .widget-commenters .art-comments {
    margin-top: 0; }

.widget-commenter-name {
  display: block;
  color: #643436; }

.userpic {
  border-radius: 100%;
  border: 2px solid #e5d4c3; }

.widget_banner {
  text-align: center; }

/* ==========================================================================
   FOOTER
   ========================================================================== */
.site-footer {
  background: #928275;
  color: #cfc5bd; }
  @media (min-width: 768px) {
    .site-footer {
      margin-top: 50px; } }
  .site-footer .b-menu {
    padding: 0;
    margin-top: 10px; }
    .site-footer .b-menu a {
      color: #643436; }
  .site-footer .menu-item {
    padding: 0 10px; }
    @media (min-width: 992px) {
      .site-footer .menu-item {
        padding: 0 15px; } }
  .site-footer .menu-item:first-child {
    padding-left: 0; }
  .site-footer .menu-item:last-child {
    padding-right: 0; }

.site-footer-top {
  padding: 15px 0;
  background: #fffdf8; }

.site-footer-bottom {
  padding: 20px 0;
  font-size: 12px; }
  @media (min-width: 768px) {
    .site-footer-bottom {
      padding: 25px 0;
      font-size: 14px; } }

@media (max-width: 767px) {
  .b-counter {
    margin-top: 10px; } }

/* ==========================================================================
   PLUGINS
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.hidden {
  display: none !important; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/********************************************************************
 * Text meant only for screen readers
 */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *, :before, :after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
