@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=PT+Sans+Caption|PT+Sans:700i|Roboto:300,400,500i,700,900,900i&subset=cyrillic";
pre { font-family: 'Roboto', sans-serif; font-family: 'PT Sans Caption', sans-serif; font-family: 'PT Sans', sans-serif; }

/* ========================================================================== BASE ========================================================================== */
html { position: relative; min-height: 100%; }

body { color: #222222; overflow-x: hidden; }

img { max-width: 100%; }

a { color: #d50000; }
a:hover, a:active, a:focus { text-decoration: none; color: #ff0909; }

table { width: 100%; }

small { font-size: 100%; }

p { margin: 0 0 25px 0; }

blockquote { background: #f5f4f4; border-color: #c9c8c8; font-style: italic; margin-left: 15px; margin-bottom: 25px; }

/* ========================================================================== COMMON ========================================================================== */
.container { max-width: 1100px; }

.b-rel { position: relative; }

.b-mg { margin-top: 30px; }

p.center { text-align: center; }

p.right { text-align: right; }

p.bold { font-weight: 700; }

.p-all { text-align: center; margin-top: 1.5em; }

.italic { font-style: italic; }

@media (min-width: 768px) { .tr-md { text-align: right; } }

@media (max-width: 767px) { .mg-xs { margin-top: 15px !important; } }

@media (min-width: 768px) { .mg-sm { margin-top: 15px !important; } }

@media (min-width: 768px) { .tc-sm { text-align: center; } }

@media (max-width: 767px) { .tc-xs { text-align: center; } }

.b-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

@media (min-width: 768px) { .col-50 { width: 50%; }
  .col-55 { width: 55%; }
  .col-45 { width: 45%; } }
.icon { display: inline-block; vertical-align: middle; background: url("images/sprite.png") no-repeat; }
.icon.search { width: 15px; height: 15px; background-position: -137px 0; }
.icon.menu { width: 23px; height: 14px; background-position: 0 -168px; }

/* BUTTONS */
.but { display: inline-block; padding: 4px 7px; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; border: none; background: none; }

.but:focus, .but:active:focus, .but.active:focus, .but.focus, .but:active.focus, .but.active.focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }

.but:hover, .but:focus, .but.focus { text-decoration: none; }

.but:active, .but.active { text-decoration: none; outline: 0; box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.but-nav { width: 40px; height: 40px; }

.but-arrow { background: #9b0a12; color: #FFF; border-radius: 5px; font-weight: bold; font-size: 12px; height: 25px; line-height: 16px; position: relative; font-family: Roboto,sans-serif; }
.but-arrow:after { content: ">"; position: absolute; right: -27px; top: 0; height: 25px; width: 25px; border-radius: 5px; background: #9b0a12; font-size: 18px; line-height: 20px; }
.but-arrow:hover, .but-arrow:focus { color: #fff; background: #b30c15; }
.but-arrow:hover:after, .but-arrow:focus:after { background: #b30c15; }

.but-main { border-radius: 5px; background: #d1020b; background: -webkit-linear-gradient(top, #d1020b 0%, #830107 100%); background: linear-gradient(to bottom, #d1020b 0%, #830107 100%); }
.but-main:hover, .but-main:active { background: #ef0037; background: -webkit-linear-gradient(top, #ef0037 0%, #af001d 100%); background: linear-gradient(to bottom, #ef0037 0%, #af001d 100%); }

.but-up { width: 153px; height: 70px; font-size: 0; background: url("images/sprite.png") 0 -936px no-repeat; }

.but-submit { background: #d50000; font-family: Roboto,sans-serif; color: #fff; }
.but-submit:hover { background: #EE0B0A; }

/* FORMS */
input[type="text"], input[type="tel"], input[type="search"], input[type="email"], input[type="url"], input[type="number"], textarea, select { width: 100%; border: 1px solid #CBCBCB; padding: 7px 10px; }

textarea { resize: vertical; }

label { font-weight: normal; cursor: pointer; }

label.check input { visibility: hidden; position: absolute; left: -200em; }
label.check span { display: inline-block; position: relative; padding-left: 25px; }
label.check span:after { content: ""; border: 1px solid #d7d7d7; width: 15px; height: 15px; display: inline-block; position: absolute; left: 0; bottom: 4px; }
label.check input:checked + span:before { content: "\2713"; font-size: 20px; font-family: 'Open Sans', TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; position: absolute; left: 2px; bottom: 2px; }

/*HEADINGS*/
h1, h2, h3, .widget-header { font-family: Roboto, sans-serif; font-weight: 300; }

.h-main { line-height: 1; margin: 0 0 50px 0; }
@media (min-width: 768px) { .h-main { font-size: 50px; } }
.h-main span { font-size: 24px; }

.h-section { margin: 0 0 25px 0; font-weight: 700; font-size: 24px; }

.h-footer { margin: 25px 0; font-size: 16px; font-weight: 700; }

article h2 { margin: 35px 0 25px; font-size: 36px; }

.h-art-sec { font-size: 45px; margin: 35px 0 25px; }

/* IMAGES */
.aligncenter, .alignleft, .alignright { display: block; margin: 0 auto 20px; }

@media (min-width: 768px) { .alignleft, .alignright { display: inline-block; }
  .alignleft { float: left; margin: 0 20px 20px 0; }
  .alignright { float: right; margin: 0 0 20px 20px; } }
.spanlink { cursor: pointer /* ╨╗╤О╨▒╤Л╨╡ ╤Б╤В╨╕╨╗╨╕, ╤З╤В╨╛╨▒╤Л ╨┐╤Б╨╡╨▓╨┤╨╛-╤Б╤Б╤Л╨╗╨║╨░ ╨▓╤Л╨│╨╗╤П╨┤╨╡╨╗╨░ ╨║╨░╨║ ╨╛╨▒╤Л╤З╨╜╨░╤П */ }

.pagination { text-align: center; margin-top: 50px; display: block; }
.pagination a { background: #d50000; }
.pagination a, .pagination .current, .pagination .dots { color: #fff; width: 30px; height: 30px; display: inline-block; line-height: 30px; vertical-align: text-top; }
.pagination .dots { color: #222222; width: 20px; }
.pagination .current { border: 1px solid #000 !important; background: #222222; }
.pagination .prev, .pagination .next, .pagination .last { font-size: 20px; }
.pagination .prev { background-position: 0 -200px; }
.pagination .next { background-position: 0 -225px; }

.img-bg { background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; }

.tag { display: inline-block; background: #4a4a4a; color: #969595; font-size: 13px; padding: 5px 13px; margin: 0 2px 5px 0; }
.tag:hover { background: #d50000; color: #fff; }

/* ICONS */
.ic { display: inline-block; vertical-align: text-bottom; background: url("images/sprite.png") no-repeat; margin-right: 5px; }

.ic-cat { background-position: 0 -37px; width: 25px; height: 26px; }

.ic-date { background-position: 0 -122px; width: 25px; height: 26px; }

.ic-user { background-position: 0 -836px; width: 27px; height: 24px; }

.ic-comments { background-position: 0 -83px; width: 28px; height: 19px; }

.ic-time { background-position: 0 -802px; width: 14px; height: 14px; }

@media (min-width: 768px) { body { background: url("images/bg-body.jpg") 50% 0 no-repeat; } }

/* ========================================================================== HEADER ========================================================================== */
.site-header { padding-top: 35px; color: #fff; }
@media (max-width: 767px) { .site-header { background: #080808 url("images/bg-body-xs.png") 50% 0 no-repeat; background-size: 100% auto; } }
@media (min-width: 768px) { .site-header .b-logo { float: left; width: 40%; }
  .site-header .b-misc { float: right; width: 55%; } }
@media (min-width: 992px) { .site-header .b-logo { width: 50%; }
  .site-header .b-misc { width: 45%; } }
.site-header .nav-social { text-align: right; }
.site-header .nav-social a { opacity: .5; }
.site-header .nav-social a:hover { opacity: 1; }

.logotype { font-family: Roboto, sans-serif; font-style: italic; font-size: 36px; line-height: .9; max-width: 320px; margin: 0 auto; }
@media (min-width: 768px) { .logotype { max-width: 100%; margin: 0; font-size: 45px; } }
@media (min-width: 992px) { .logotype { font-size: 60px; } }
.logotype span { color: #EE0B0A; display: block; text-align: right; }
.logotype i { font-family: 'Segoe Print',Roboto,sans-serif; font-weight: bold; margin-right: 10px; }

.nav-social { list-style: none; padding: 0; margin: 0; }
.nav-social li { display: inline-block; }
.nav-social a { display: block; width: 30px; height: 30px; background: url("images/sprite.png") no-repeat; }
.nav-social .fb { background-position: 0 -202px; }
.nav-social .fb:hover { background-position: 0 -252px; }
.nav-social .gp { background-position: 0 -302px; }
.nav-social .gp:hover { background-position: 0 -352px; }
.nav-social .ok { background-position: 0 -402px; }
.nav-social .ok:hover { background-position: 0 -452px; }
.nav-social .tw { background-position: 0 -502px; }
.nav-social .tw:hover { background-position: 0 -552px; }
.nav-social .vk { background-position: 0 -602px; }
.nav-social .vk:hover { background-position: 0 -652px; }
.nav-social .yt { background-position: 0 -702px; }
.nav-social .yt:hover { background-position: 0 -752px; }

.b-search { background: #514e4e; background: -webkit-linear-gradient(top, #514e4e 0%, #a3a2a2 100%); background: linear-gradient(to bottom, #514e4e 0%, #a3a2a2 100%); height: 47px; position: relative; padding-left: 125px; border-radius: 10px 10px 0 0; margin-top: 35px; border-top: 1px solid #7B7878; }
.b-search-ttl { text-transform: uppercase; height: 47px; line-height: 47px; display: inline-block; vertical-align: top; position: absolute; left: 0; top: 0; text-align: center; width: 125px; }
.b-search-form { height: 47px; display: inline-block; padding: 5px 20px 0 0; width: 100%; border-radius: 0 10px 0 0; }
@media (max-width: 767px) { .b-search { padding-left: 55px; } }
@media (min-width: 768px) { .b-search { background: #361416; background: -webkit-linear-gradient(top, #361416 0%, #a50a12 100%); background: linear-gradient(to bottom, #361416 0%, #a50a12 100%); }
  .b-search-form { padding: 5px 20px 0 50px; position: relative; background: #514e4e; background: -webkit-linear-gradient(top, #514e4e 0%, #a3a2a2 100%); background: linear-gradient(to bottom, #514e4e 0%, #a3a2a2 100%); }
  .b-search-form:before { content: ""; background: url("images/sprite.png") -102px -35px no-repeat; width: 52px; height: 51px; position: absolute; bottom: 0; left: -20px; } }
.b-search form { margin: 0; }
.b-search-form_i { position: relative; }
.b-search input { padding-left: 15px; padding-right: 35px; height: 35px; background: #373737; border: none; border-radius: 7px; box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.5); }
.b-search .but-search { position: absolute; top: 2px; right: 2px; width: 31px; height: 31px; }
.b-search .but-nav { position: absolute; left: 5px; top: 2px; }

@media (min-width: 768px) { .b-navWrap { min-height: 67px; background: url("images/bg-menu.png") repeat-x; } }

.b-menu, .b-menu-footer { list-style: none; padding: 0; margin: 0; }
.b-menu a, .b-menu-footer a { text-transform: uppercase; font-family: 'PT Sans Caption', sans-serif; text-align: center; display: block; color: #fff; -webkit-transition: all .3s; transition: all .3s; }
@media (min-width: 768px) { .b-menu .menu-item, .b-menu-footer .menu-item { display: inline-block; } }

.b-menu { display: none; }
.b-menu a { font-size: 1.1em; padding: 20px; }
.b-menu a:active { background: rgba(0, 0, 0, 0.3); }
@media (max-width: 767px) { .b-menu a { background: url("images/bg-menu.png") repeat-x; } }
@media (min-width: 768px) { .b-menu { display: block !important; }
  .b-menu .menu-item { display: inline-block; margin-left: -3px; position: relative; }
  .b-menu .menu-item:after { content: ""; width: 1px; height: 100%; position: absolute; top: 0; right: -1px; background: rgba(0, 0, 0, 0.5); }
  .b-menu a { padding: 22px 33px 0; height: 67px; }
  .b-menu a:hover { background: rgba(0, 0, 0, 0.3); } }

/* SLIDER */
.b-intro { position: relative; min-height: 300px; }
@media (min-width: 768px) { .b-intro { height: 540px; } }

.b-slider { background: black; }
.b-slider-itm { background-position: 50% 0; background-repeat: no-repeat; height: 300px !important; }
@media (max-width: 767px) { .b-slider-itm { background-size: cover; }
  .b-slider-itm.slide-1 { background-image: url("images/slide-sm1.jpg"); }
  .b-slider-itm.slide-2 { background-image: url("images/slide-sm2.jpg"); }
  .b-slider-itm.slide-3 { background-image: url("images/slide-sm3.jpg"); }
  .b-slider-itm.slide-4 { background-image: url("images/slide-sm4.jpg"); }
  .b-slider-itm.slide-5 { background-image: url("images/slide-sm3.jpg"); } }
@media (min-width: 768px) { .b-slider-itm { height: 540px !important; background-size: auto 100%; }
  .b-slider-itm.slide-1 { background-image: url("images/slide1.jpg"); }
  .b-slider-itm.slide-2 { background-image: url("images/slide2.jpg"); }
  .b-slider-itm.slide-3 { background-image: url("images/slide3.jpg"); }
  .b-slider-itm.slide-4 { background-image: url("images/slide4.jpg"); }
  .b-slider-itm.slide-5 { background-image: url("images/slide5.jpg"); } }

.b-siteInfo { position: absolute; z-index: 1; top: 0; left: 0; width: 100%; }

.site-title { font-family: 'Roboto', sans-serif; font-weight: 500; font-style: italic; text-transform: uppercase; color: #a8a7a7; font-size: 18px; background: rgba(0, 0, 0, 0.6); padding: 10px 0; }
.site-title span { display: block; color: #fff; font-size: 38px; }
@media (min-width: 768px) { .site-title { margin-top: 50px; background: none; padding: 0; font-size: 50px; }
  .site-title span { font-size: 100px; } }
@media (min-width: 992px) { .site-title { font-size: 60px; }
  .site-title span { font-size: 120px; } }

.site-description { margin-top: 25px; }
.site-description p { background: rgba(238, 11, 10, 0.7); padding: 4px 0 4px 4px; position: relative; letter-spacing: 1px; font-size: 12px; }
.site-description p:before { content: ""; width: 100%; top: 0; bottom: 0; position: absolute; background: rgba(213, 0, 0, 0.7); width: 9600px; right: 100%; }
@media (min-width: 768px) { .site-description { margin-top: 50px; }
  .site-description p { width: 500px; font-size: 20px; } }

/* ========================================================================== CONTENT ========================================================================== */
.b-main { background: #fafbfa; padding-top: 30px; }

.breadcrumb { margin-top: 40px; background: none; border-top: 1px solid #222222; border-bottom: 1px solid #222222; border-radius: 0; }

.b-hero { font-family: 'Roboto', sans-serif; letter-spacing: 1px; }
.b-hero-h { font-size: 19px; color: #d50000; font-weight: 400; }
.b-hero-h span { font-weight: 900; display: block; font-size: 30px; margin-bottom: 15px; color: #222222; line-height: 1; }
@media (min-width: 768px) { .b-hero-h { font-size: 25px; }
  .b-hero-h span { font-size: 45px; } }
@media (min-width: 992px) { .b-hero-h { font-size: 36px; }
  .b-hero-h span { font-size: 60px; } }
.b-hero p { font-weight: 900; font-style: italic; margin: 20px 0; line-height: 1.1; }
@media (min-width: 768px) { .b-hero { position: relative; padding-right: 350px; padding-bottom: 10px; }
  .b-hero:after { content: ""; background: url("images/alexander.png") 50% 100% no-repeat; background-size: 100% auto; width: 360px; height: 541px; right: -30px; bottom: 0; position: absolute; } }
@media (min-width: 992px) { .b-hero { padding-top: 20px; padding-bottom: 20px; padding-right: 450px; }
  .b-hero p { font-size: 18px; }
  .b-hero:after { width: 480px; } }
@media (min-width: 1200px) { .b-hero { padding-top: 50px; padding-bottom: 50px; padding-right: 550px; }
  .b-hero:after { width: 578px; } }

.b-categories { padding: 30px 0 20px; }
.b-categories-h { font-weight: 300; text-transform: uppercase; font-size: 22px; margin-bottom: 50px; }
@media (min-width: 768px) { .b-categories { background: url("images/bg-service.jpg") 50% 0 no-repeat; background-size: auto 100%; }
  .b-categories-h { font-size: 50px; } }
@media (min-width: 992px) { .b-categories-h { font-size: 60px; } }

.b-categ_i { display: block; background: #d50000; color: #fff; position: relative; }
.b-categ_i:hover { color: #fff; }
.b-categ-img img { width: 100%; }
.b-categ-ttl { font-family: Roboto, sans-serif; font-weight: 300; display: block; padding: 10px; font-size: 23px; }
@media (min-width: 768px) { .b-categ { margin-bottom: 30px; }
  .b-categ-ttl { font-size: 18px; }
  .b-categ_i { height: 230px; }
  .b-categ_i:after { content: ""; background: url("images/sprite.png") 0 -880px no-repeat; width: 41px; height: 36px; top: 50%; left: 50%; margin-top: -36px; margin-left: -20px; position: absolute; display: none; }
  .b-categ_i:hover { background: #222222; }
  .b-categ_i:hover img { opacity: .3; }
  .b-categ_i:hover:after { display: block; } }
@media (min-width: 992px) { .b-categ { margin-bottom: 50px; }
  .b-categ-ttl { font-size: 17px; } }
@media (min-width: 1200px) { .b-categ { margin-bottom: 100px; }
  .b-categ-ttl { font-size: 18px; padding: 10px 15px; }
  .b-categ_i { height: 250px; } }

.a-prev:before, .a-prev:after { content: ""; display: table; }
.a-prev:after { clear: both; }
.a-prev:last-child { margin-bottom: 0; }
.a-prev-img { text-align: center; }
@media (min-width: 480px) { .a-prev-img { float: left; width: 45%; } }
@media (min-width: 768px) { .a-prev-img { text-align: left; } }
.a-prev-txt { padding: 10px; }
@media (min-width: 480px) { .a-prev-txt { float: right; width: 53.5%; padding: 0 15px 0 0; } }
.a-prev .date { margin-bottom: 0; font-weight: 700; font-size: .85em; margin-bottom: 5px; }
.a-prev .headline { margin: 0; font-family: Roboto,sans-serif; margin-bottom: 10px; }
.a-prev .link { text-align: right; font-size: .85em; text-decoration: underline; -moz-text-decoration-color: #d50000; text-decoration-color: #d50000; margin-bottom: 5px; }
.a-prev a:hover { text-decoration: underline; }
.a-prev-foot { font-weight: bold; font-size: .85em; }

.a-prev-new { margin-bottom: 20px; }
.a-prev-new .date { color: #d50000; }
.a-prev-new .headline { font-style: italic; font-size: 20px; }
.a-prev-new .headline a { color: #222222; }
.a-prev-new .excerpt { margin-bottom: 5px; }
.a-prev-new footer a { color: #000; }

.a-prev-pop { margin-bottom: 30px; }
.a-prev-pop .headline { font-size: 18px; }
.a-prev-pop .excerpt { font-size: .9em; }

.b-sections { background: #f5f5f5; }
.b-sections-col:last-child { background: #000; }
@media (min-width: 768px) { .b-sections { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }
  .b-sections-col:first-child { width: 55%; }
  .b-sections-col:last-child { width: 45%; } }
.b-sections .categ { padding: 20px 0; }
.b-sections .h-section { margin-left: 30px; }

.categ-new { background: #f5f5f5; }

.categ-pop, .categ-pdd { color: #fff; }
.categ-pop a, .categ-pdd a { color: #fff; }

.categ-pop { background: #d50000; }
.categ-pop .pagination .dots { color: #fff; }
.categ-pop .pagination a { background: gray; }

.categ-pdd_i { padding: 0 15px 0 30px; }

.b-pdd { position: relative; display: block; padding-left: 90px; min-height: 46px; margin-bottom: 30px; }
.b-pdd-img { width: 90px; position: absolute; left: 0; top: 0; text-align: center; padding: 0 20px; }
.b-pdd-ttl { font-size: 18px; line-height: 1; }
.b-pdd:hover { color: #d50000; }

.b-miscWrap { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.b-article-new { min-height: 373px; color: #fff; padding: 15px 25px 15px 25px; position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
.b-article-new-ttl { font-weight: bold; font-size: 24px; font-family: Roboto,sans-serif; }
.b-article-new-content { background: #000; background: rgba(0, 0, 0, 0.6); padding: 6px; }
.b-article-new-date { font-size: .85em; margin: 0; }
.b-article-new-headline { font-size: 30px; text-transform: uppercase; font-weight: bold; margin: 5px 0; }
.b-article-new-par { margin-bottom: 0; }
.b-article-new .but { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; }

.b-banners-content { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }

.b-banner-content { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; padding: 10px; }
.b-banner-content-ttl { text-transform: uppercase; display: inline-block; color: #fff; font-weight: bold; font-size: 19px; background: #000; background: rgba(0, 0, 0, 0.5); padding: 0 5px; }
.b-banner-content .but { -webkit-align-self: flex-start; -ms-flex-item-align: start; align-self: flex-start; margin-top: 50px; }

.b-newsrow { height: 195px; overflow: hidden; text-align: center; }

.article-prev { position: relative; display: inline-block; width: 315px; height: 195px; background: #000; margin-left: -4px; }
.article-prev:first-child { margin-left: 0; }
.article-prev-img { opacity: .7; }
.article-prev:hover .article-prev-img { opacity: 1; }
.article-prev-txt { position: absolute; bottom: 10px; left: 10px; right: 10px; color: #fff; font-size: .9em; background: #000; background: rgba(0, 0, 0, 0.6); margin: 0; padding: 7px; }

.banner-bottom { display: block; text-align: center; }

/* ARTICLE */
.b-articles article, .b-articles .banner { margin-bottom: 30px; }

article .date { position: absolute; top: 20px; left: -3px; background: #EE0B0A; color: #fff; display: inline-block; width: 58px; height: 58px; text-align: center; font-size: 11px; font-family: Roboto, sans-serif; padding-top: 3px; }
article .date b { font-size: 20px; display: block; }

.article-img { position: relative; }

.footer-article { margin-top: 35px; border-top: 1px solid #222222; border-bottom: 1px solid #222222; }
.footer-article div { padding: 5px; }
@media (min-width: 992px) { .footer-article { display: table; width: 100%; }
  .footer-article div { display: table-cell; text-align: center; } }

.footer-preview a { font-weight: bold; text-decoration: underline; }

.b-related p { margin-top: 10px; }
@media (max-width: 991px) { .b-related:nth-child(3) { clear: left; } }
@media (min-width: 768px) { .b-related p { font-size: 16px; } }

/* COMMENTS */
.commentlist, .commentlist ol { list-style: none; padding: 0; margin: 0; }

.commentlist ol .comment { margin-left: 5%; }

.comment-body { border: 1px solid #222222; margin-bottom: 15px; padding: 15px; position: relative; padding-left: 90px; }
.comment-body p { margin-bottom: 15px; }
.comment-body .ava { position: absolute; left: 15px; top: 15px; }
.comment-body .ava img { width: 53px; }
.comment-body .header { font-size: .9em; }
.comment-body .header:before, .comment-body .header:after { content: ""; display: table; }
.comment-body .header:after { clear: both; }
.comment-body .header p { margin-bottom: 10px; }
.comment-body .author { float: left; font-weight: 600; }
.comment-body .date { float: right; }
.comment-body .footer { text-align: right; }
.comment-body .reply { font-weight: 600; text-decoration: underline; }

/* COMMENT FORM */
.comment-form input, .comment-form textarea { margin-bottom: 20px; background: #efeeee; border: 1px solid #222222; }
.comment-form input:focus, .comment-form textarea:focus { background: #fff; }
.comment-form .but { font-size: 18px; padding: 10px 15px; }

/* ========================================================================== SIDEBAR ========================================================================== */
.widget { margin-top: 35px; display: block; }
.widget:first-child { margin-top: 0; }

.widget-header { font-size: 36px; line-height: 1; margin-bottom: 20px; }

.widget_subscribe { border: 1px solid #222222; padding: 15px 15px 20px; }
.widget_subscribe .widget-header { font-size: 18px; font-weight: bold; margin-bottom: 10px; }

.subscribe-form { position: relative; padding-right: 120px; margin-bottom: 0; }
.subscribe-form .but { text-transform: uppercase; font-weight: bold; position: absolute; top: 0; right: 0; width: 115px; height: 35px; }

.widget_categories ul { list-style: none; padding: 0; margin: 0; }
.widget_categories a:hover { background: #d50000; color: #fff; }
.widget_categories a:hover:before { left: auto; right: 3px; color: #fff; }
.widget_categories a { color: #222222; font-size: 18px; font-family: Roboto, sans-serif; font-weight: 300; display: block; position: relative; padding: 2px 15px 2px 20px; border-radius: 0 5px 5px 0; }
.widget_categories a:before { content: ">"; position: absolute; left: 0; top: 2px; color: #d50000; font-family: Consolas, Roboto,sans-serif; font-size: 23px; line-height: 1; }

.widget_articles .a-prev { margin-bottom: 15px; }
.widget_articles .a-prev-img { width: 43%; }
.widget_articles .headline { font-weight: bold; line-height: 1.2; margin-top: -3px; display: inline-block; min-height: 50px; }

.widget_commenters ul { list-style: none; padding: 0; margin: 0; }
.widget_commenters li { display: inline-block; margin-bottom: 3px; }
.widget_commenters a { display: block; }
.widget_commenters img { width: 80px; }

.widget_counters { text-align: center; }
.widget_counters * { margin: 0 3px; }

.widget_banner { text-align: center; }

/* ========================================================================== FOOTER ========================================================================== */
.site-footer { position: relative; margin-top: 15px; background: #000; color: #fff; }
@media (min-width: 768px) { .site-footer { padding-top: 30px; margin-top: 80px; background: url("images/bg-footer.jpg") 50% 0 no-repeat; background-size: cover; }
  .site-footer .but-up { position: absolute; top: -80px; right: 10px; } }

.b-subscribe-footer { background: #333333; padding: 30px; text-transform: uppercase; }
@media (min-width: 768px) { .b-subscribe-footer { background: #910b13; } }
.b-subscribe-footer .f-subscribe { margin: 0 auto; text-align: center; }
.b-subscribe-footer .f-subscribe-ttl { font-size: 18px; margin: 0; line-height: 35px; }
.b-subscribe-footer .f-subscribe-email { width: 220px; color: #000; margin: 10px 0 0 0; text-align: center; border-radius: 5px; }
.b-subscribe-footer .f-subscribe .but { display: block; margin: 20px auto 0; }
@media (min-width: 768px) { .b-subscribe-footer .f-subscribe { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .b-subscribe-footer .f-subscribe-ttl { display: inline-block; }
  .b-subscribe-footer .f-subscribe-email { text-align: left; margin: 0 30px 0 20px; }
  .b-subscribe-footer .f-subscribe .but { margin: 0; } }

.but-subscribe { border: 2px solid #d49f08; border-radius: 5px; text-transform: uppercase; padding: 5px 10px; }

.b-prev-pop-footer .a-prev { margin-bottom: 25px; }
.b-prev-pop-footer .a-prev-img { width: 40%; }
.b-prev-pop-footer .a-prev-txt { width: 56%; }
.b-prev-pop-footer .headline { font-size: 13px; line-height: 20px; margin-bottom: 5px; }
.b-prev-pop-footer .headline a { color: #fff; }
.b-prev-pop-footer .date { color: #6b6b6b; font-size: .8em; }
.b-prev-pop-footer .more { font-size: .85em; }

.article-rand { display: inline-block; width: 80px; margin: 0 2px 5px 0; }

.b-footer-links { background: #000; padding: 15px 0; }

.b-menu-footer a { padding: 10px 11px; }
@media (min-width: 768px) { .b-menu-footer li:first-child a { padding-left: 0; }
  .b-menu-footer li:last-child a { padding-right: 0; } }
.b-menu-footer a:hover { color: #d50000; }

.nav-social-footer li { margin-left: 2px; }
.nav-social-footer li:first-child { margin-left: 0; }
@media (max-width: 767px) { .nav-social-footer { text-align: center; border-top: 2px solid #fff; padding-top: 25px; margin-top: 15px; } }
@media (min-width: 768px) { .nav-social-footer { text-align: right; margin-top: 5px; } }

.b-copyright { padding-top: 20px; padding-bottom: 20px; color: #c3c2c2; font-weight: 600; font-size: .9em; }
.b-copyright a { color: #c3c2c2; }
.b-copyright a:hover { color: #d50000; }

/* ========================================================================== PLUGINS ========================================================================== */
/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

.slick-dots { position: absolute; left: 0; bottom: 30px; width: 100%; text-align: center; list-style: none; padding: 0; margin: 0; z-index: 2; }
.slick-dots li { display: inline-block; margin: 0 10px; }
.slick-dots button { background: none; border-radius: 100%; font-size: 0; border: 2px solid #fff; width: 12px; height: 12px; display: block; padding: 0; }
@media (min-width: 768px) { .slick-dots button { width: 23px; height: 23px; } }
.slick-dots .slick-active button { background: #d50000; border-color: #d50000; }

/* ========================================================================== Helper classes ========================================================================== */
.browserupgrade { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

.hidden { display: none !important; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.cf:before, .cf:after { content: " "; display: table; }

.cf:after { clear: both; }

.cf { *zoom: 1; }

/******************************************************************** Text meant only for screen readers */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }

.screen-reader-text:focus { background-color: #f1f1f1; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; font-size: 14px; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000 /* Above WP toolbar. */ }

/* ========================================================================== Print styles ========================================================================== */
@media print { *, :before, :after { background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
