@charset "UTF-8";
@import 'modules/variables';
@import 'modules/base+common';

/* ==========================================================================
   HEADER
   ========================================================================== */
.site-header {padding-top: 5px;
	nav {margin-top: 25px;}
}
.navigation{
	@include resetUl();
	text-align: right;
	li {
		display: inline-block; 
		text-align: center;
		margin-right: 40px;
		&:last-child {margin-right: 0;}
	}
	a {
		text-transform: uppercase;
		font-weight: 700;
		display: block;
		&:before {
			content: "";			
			height: 30px;
			display: block;
			opacity: .5;
			transition: opacity .3s;
			margin-bottom: 15px;
			background: url('../images/sprite.png') 50% 0 no-repeat;
		}
		&:hover:before {opacity: 1;}
	}
	.nav-home a:before {background-position: 50% -6px}
	.nav-history a:before {background-position: 50% -70px}
	.nav-honest a:before {background-position: 50% -134px}
	.nav-support a:before {background-position: 50% -197px}
	.nav-partner a:before {background-position: 50% -262px}
	.nav-howto a:before {background-position: 50% -325px}
}

.b-intro {
	@include block();
	@include clearfix();
	background: $blue;
	background: $blue-transp;
	padding: 15px;
	margin-top: 30px;
	p {line-height: 1.6;margin: -3px 0 0 0;}
	&_1, &_2, &_3 {float: left;position: relative;}
	&_1:after, &_2:after {
		content: "\203A";
		color: #e28538;
		font-size: 40px;
		position: absolute;
		right: 0;
		top: 15px;
		line-height: 0;
	}
	&_1 { width: 40%;padding: 0 30px 0 0;}
	&_2 { width: 33%;padding: 0 60px 0 50px;}
	&_3 { width: 27%;}
}
/* ==========================================================================
   CONTENT
   ========================================================================== */
/* TABS */
.b-tabs {margin-top: 30px;
	&-btns {
		@include resetUl();		
		@include clearfix();				
		@include block();			
		background: $blue-transp;
		li {
			display: block;
			float: left;
			text-align: center;
			width: 50%;
			&:first-child {border-right: 1px solid $border;}
		}
		a {
			@include h-bold();
			display: block;
			padding: 15px 0;	
			&:hover {background: $blue-light}		
		}
		.active {background: $blue-light;}
	}
	&-tab {@include clearfix();}
}

/* PRODUCT */
.b-prod {
	@include block();
	background: $blue;
	position: relative;
	font-size: .9em;			
	p {margin-bottom: 0;}
	&_i {padding: 0 10px 10px 10px;}
	&_img {
		height: 160px;
		line-height: 190px;
		text-align: center;
		@include blueGrad();
		display: block;
		border-bottom: 1px solid $border;
	}
	&_spots-tag, &_price-tag {
		font-weight: 700;		
		padding: 5px 10px;		
		border-radius: 3px;
		@include textShadow();
		display: inline-block;
		position: absolute;
		top: 10px;
		span {font-size: .95em;}
	}
	&_spots-tag {background: #E6BC12;left: 10px;}
	&_price-tag {background: #498E39; right: 10px;
		&:last-of-type {color: red;}
	}
	&_name, &_cond, &_type {
		border-bottom: 1px solid $border;
		padding: 10px 0;
		border-bottom: 1px solid $border;		
	}
	&_cond-used {color: #ffe63f}
	&_cond-new {color: #6cef2c}
	&_cond-tested {color: #3fe6ff}
	&_type {color: $yellow}
	&_price {padding: 10px 0;
		b {float: right;}
	}
	&_spots {margin-top: 5px;}
	.but-buy {margin-top: 15px;display: block;}
}
.b-prod-list {
	.b-prod {	
		margin-top: 20px;	
		float: left;
		width: 18.4%;
		margin-right: 2%;
		&:nth-child(5n+5) {margin-right: 0;}
	}
}

/* WINNERS */
.b-winners {
	margin: 30px 0 0 0;
	padding-bottom: 10px;
	@include block();
	border-top: none;
	border-width: 3px;
	&_gamer, &_top20 {text-align: center;width: 15%;float: left;}
	&_gamer {font-size: .9em;
		p {margin-bottom: 0;}
		&-name {text-transform: uppercase;}
		&-ava {background: url('../images/bg-gamer-day.png') no-repeat;width: 98px;height: 73px;margin: 5px auto;}
		&-title {color: $blue-text;font-weight: 700;text-transform: uppercase;}
	}
	&_top20 {font-size: .9em; margin: 15px 0 0 0;
		.but {margin-top: 5px;}
	}
}
.h-winners, .b-top20-headline {
	@include h-bold();
	@include textShadow();;
	text-align: center;
	margin: 0;
	position: relative;
	top: -12px;
	line-height: 1;
	&:before, &:after {
		content: "";
		position: absolute;
		top: 12px;
		height: 3px;
	}
	&:before {left: 0;}
	&:after {right: 0;}
}
.h-winners {
	&:before, &:after {
		background: $border;
		width: 350px;
	}
}


/* WINNERS-table */
.t-winners {
	@include block();
	overflow: hidden;
    border-collapse:separate;
	margin-top: 25px;
	text-transform: uppercase;
	font-size: .9em;
	vertical-align: middle;
	th, td {
		text-align: center;
	}
	th {
		background: $blue;
		background: $blue-transp;
		padding: 15px 0;
		@include textShadow();
	}
	tbody {padding-top: 20px;
		td {position: relative;
			background: $blue-light;
			background: rgba($blue-light,.7);
			padding: 17px 30px;
			&:after {
				content: "";
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -15px;
				width: 1px;
				height: 30px;
				background: #fff;
			}
			&:first-child {color: $yellow;}			
			&:nth-child(2) {width: 30%;}
			&:nth-child(3) {text-align: left;padding-left: 7%; width: 30%;
				a {text-decoration: underline;}
				a:hover {text-decoration: none;}
			}
			&:nth-child(4) a {color: $blue-text;}
			&:last-child:after {content: none;}
		}
		tr:first-child td {padding-top: 40px; &:after {margin-top: -5px;}}
		tr:last-child td {padding-bottom: 40px; &:after {margin-top: -25px;}}
	}
}

/* TOP20 */
.b-top20 {margin-top: 15px;
	&-header {
		border: 3px solid $green; 
		border-top: none;
		border-radius: 4px;
		padding-bottom: 20px;
		&_wrp {
			background: url('../images/top20.png') 50% 0 no-repeat;
			padding-top: 90px;
			margin-top: 30px;
		}
		&_i {
			width: 690px;
			margin: 0 auto;
			text-align: center;
			font-weight: 700;
			text-transform: uppercase;
			div:nth-child(2) {margin-top: -2px;}
		}
	}
	&-headline {color: $green;
		&:before, &:after {
			background: $green;
			width: 400px;
		}		
	}

	@include block();
	background: url('../images/bg-winners.png') 50% 0 no-repeat;	
	min-height: 880px;

	&-table {
		min-height: 880px;
		width: 690px;
		margin: 0 auto;
		@include block();
		overflow: hidden;
	    border-collapse:separate;		
		text-transform: uppercase;
		font-size: .9em;
		vertical-align: middle;		
		position: relative;
		top: -1px;
		background: $blue;
		background: $blue-transp;		
		a {text-decoration: underline;}
		.ava-small {width: 45px;margin-right: 5px;}
		td {
			width: 32.5%;
			 text-align: center; 
			 position: relative;
			 padding: 17px 0 0 0;
			&:after {
				content: "";
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -5px;
				width: 1px;
				height: 30px;
				background: #fff;
			}
		}
		tr:first-child td {padding-top: 40px;
			&:after {margin-top: 5px;}
		}
		td:first-child {font-weight: 700;font-size: 18px}
		tr:last-child td {padding-bottom: 40px; &:after {margin-top: -25px;}}		
		td:nth-child(2) {text-align: left; padding-left: 15px;width: 35%;}
		td:last-child:after {content: none;}			
		td:last-child {font-weight: 700;font-size: 1.5em;}
	}
}
.place {
	margin-top: 20px;
	height: 71px;
	width: 57px;
	display: inline-block;
	text-align: center;	
	padding-top: 12px;
}
.place-1, .place-2, .place-3, .place-w {background: url('../images/rank.png') no-repeat;}
.place-1 {background-position: 0 0;}
.place-2 {background-position: 0 -75px;}
.place-3 {background-position: 0 -149px;}
.place-w {
	background: url('../images/rank.png') no-repeat;
	background-position: 0 -226px;
	font-size: 30px;
	color: $green;
	display: inline-block;
	width: 81px;
	height: 101px;
	text-align: center;
	padding-top: 11px;
}

/* PROFILE */
.b-profile {
	margin-top: 30px;
	@include clearfix();
	&_col1 {width: 37%; float: left;}
		&_col1_1 {width: 31%;float: left;}
		&_col1_2 {width: 64%;float: right;}
			&_col1_2_1 {width: 66%;float: left;}
			&_col1_2_2 {width: 30%;float: right;}
	&_col2 {width: 60%;float: right;}

	&-actions {margin-top: 15px; @include clearfix();}
	.but-def {float: right;}
	&-name {
		font-weight: 700;
		background: -moz-linear-gradient(left, rgba(134,168,29,1) 0%, rgba(125,185,232,0) 100%);
		background: -webkit-linear-gradient(left, rgba(134,168,29,1) 0%,rgba(125,185,232,0) 100%);
		background: linear-gradient(to right, rgba(134,168,29,1) 0%,rgba(125,185,232,0) 100%);		
		padding: 5px 10px;
		border-radius: 3px 0 0 3px;
		margin-bottom: 5px;
	}
	&-steam-ttl {text-transform: uppercase;margin-bottom: 5px;}
	&-steam-id {font-size: .9em;margin-bottom: 15px;}
	.help {float: right;}
}

/* PROFILE TABS */
.b-profile-tabs {
	&-btns {
		@include resetUl();
		@include clearfix();
		li {
			display: block; 
			float: left;
			width: 33%;
			text-align: center;
			border: 1px solid #124D65;				
			border-bottom: none;
			border-radius: 4px 4px 0 0;				
			overflow: hidden;
			margin-right: .5%;
			height: 32px;
			line-height: 30px;
			&:last-child {margin-right: 0;}
			position: relative;
			//bottom: -1px;
			z-index: 2;
			background: $blue;
		}
		a {display: block;color: #A5B0B7;}
		li.active {
			border-color: $border;
			border-bottom: none;
			background: #064864;
			bottom: -1px;
			a {color: #fff;}
		}
	}
	&-tabs {
		background: #064864;
		border: 1px solid $border;
		border-radius: 0 0 4px 4px;
		.but-main {width: 40%;position: relative; top: 1px;margin-right: 1%;
			&:last-child {margin-right: 0;}
		}
	}
}
.b-profile {
	&-partner {padding: 20px 40px;
		&-col1 {width: 33%; float: left;text-align: right;}
		&-col2 {width: 66%; float: right;}
	}
	.b-data-url {
		width: 85%;
		float: left;		
		input {font-size: .9em;}
	}
	.b-data-balance {float: left;}
	.b-data-addFunds {float: right;}
}

/* DRAWING */
.b-drawing {
	&-results {
		color: $blue-text;
		text-transform: uppercase;
		@include clearfix();
		a {color: $green;text-decoration: underline;}
		&_place {
			font-weight: 700;
			text-align: center;
			font-size: 18px;
			width: 160px;
			float: left;	
			margin-top: 150px;		
		}
		&_user {
			width: 490px;
			background: url('../images/bg-winner.png') 0 0 no-repeat;
			text-align: center;
			padding-top: 82px;
			float: left;
			.ava {border-radius: 100%;}
			.winner {font-weight: 700;font-size: 24px;margin-top: 10px;margin-bottom: 0;}
			.name {font-size: 18px;}
		}
		&_check {
			text-align: right;
			font-weight: 700;
			font-size: 18px;
			margin-top: 140px;
			img {margin-right: 35px;}
		}
	}

	&-controls {
		width: 780px;
		margin: 0 auto;
		@include clearfix();
		text-transform: uppercase;
		font-size: .9em;
		.col {
			width: 50%;
			float: left;
			&:first-child {border-right: 1px solid #fff;}
			&:last-child {padding-left: 20px;}
		}
		.ttl {font-weight: 700;}
		.info {margin-bottom: 0;
			span {font-size: 1.4em;color: $green;line-height: 1.1;}
		}
		.but-main {width: 300px;vertical-align: middle;}
	}

	&-log {
		@include block();
		padding: 10px;
		margin-top: 10px;
		&_itm {
			height: 30px; 
			line-height: 30px;
			background: $blue-dark;
			background: -moz-linear-gradient(left, rgba(7,63,87,1) 0%, rgba(255,255,255,0) 100%);
			background: -webkit-linear-gradient(left, rgba(7,63,87,1) 0%,rgba(255,255,255,0) 100%);
			background: linear-gradient(to right, rgba(7,63,87,1) 0%,rgba(255,255,255,0) 100%);			
			color: #A5B0B7;
			padding: 0 5px;
			border-radius: 4px 0 0 4px;
			.icon {opacity: .5}
			&:last-child {margin-bottom: 0;}
		}
	}
	&-panel {
		border: 1px solid $green;
		border-radius: 10px;
		padding: 10px 10px 0 10px;

	}
}
.b-cell {
	width: 40px;
	height: 40px;	
	display: inline-block;
	vertical-align: text-top;
	border: 1px dashed $green;
	border-radius: 100%;
	text-align: center;
	margin: 0 10px 10px 0;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: all .3s;
	span {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		line-height: 40px;
		display: inline-block;
		font-family: 'AeroMaticsBold';
		color: $green;
		font-size: 32px;
	}
	&:hover {background: rgba($green, .5);border-style: solid}
	&.win {border: 1px solid #e6bc12;
		box-shadow: 0 0 10px 0 #fff, inset 0 0 5px 0 #e6bc12;
		&:hover {background: none;}
	}
	.win-img {position: relative;z-index: 2;}

}








/* Pagination */
.b-pages {
	text-transform: uppercase;		
	text-align: right;
	margin-top: 20px;
	p {display: inline-block;margin: 0 10px 0 0 ;}
}
.list-pages {
	@include resetUl();	
	display: inline-block;
	li {display: inline-block;margin: 0 2px;}
	a {color: $blue-text}
}

/** MODAL CONTENTS **/

/* HISTORY */
.t-history {
	td, th {text-align: center !important;text-transform: uppercase;width: 30%;
		&:first-child {text-align: left !important;width: 15%;}
	}
	th {padding-bottom: 20px;}
	tbody {
		td {position: relative; height: 60px;}
		td:after {
			content: "";
			position: absolute;
			top:15px;
			right: 0;
			height: 30px;
			width: 1px;
			background: #fff;
		}
		td:first-child {color: $yellow;}
		td:last-child:after {content: none;}		
		.lose,.not-sent {color: #9d9d9d;}
		.win {color: $yellow;}
		.sent {color: $blue-text;}
	}
}


/* STEPS */
.b-step {
	@include clearfix();
	height: 60px;
	margin-bottom: 35px;
	p {margin: 0;}
	&_number {float: left;width: 100px;clear: left;
		span {
			display: block;
			height: 60px;
			width: 60px;
			border: 4px solid #D1DDE2;
			border-radius: 100%;
			text-align: center;
			line-height: 55px;
			font-family: 'AeroMaticsBold';
			font-size: 36px;
			position: relative;
			&:after {
				content: "";
				width: 15px;
				height: 20px;
				background: url('../images/sprite.png') 0 -1430px no-repeat;
				position: absolute;
				left: 50%;
				margin-left: -7px;
				bottom: -32px;
			}			
		}
	}
	&:last-child &_number span:after {content: none !important;}	
	&_descript {float: left;width: 270px; display: flex; align-items: center; height: 60px;padding-right: 20px;}
	&_action {float: left;width: 230px;}

	.but-login {margin-top: 10px;}
	.but-buy {margin-top: 13px;}
	.b-data-url {margin-top: 15px;}
	.b-data {margin: 10px 10px 0 0;}

	.b-cells-mini {top: -15px; position: relative;}
}
.b-cells-mini {}


/* PAYMENT */
.b-payment {
	.payment {display: block;height: 73px;line-height: 70px;
		&:nth-child(2) {text-align: center;}
		&:nth-child(3) {text-align: right;}
	}
	.row {margin-bottom: 35px;}
	.row:last-child {margin-bottom: 0;}
}

/* SETTINGS */
.b-settings {
	.warn {color: $yellow;text-align: center;}
	
}
.f-settings {
	width: 400px;
	margin: 0 auto;
	&-ttl {font-weight: 700;margin-left: 65px;}
	ul {margin-top: 25px;}
	li {margin-bottom: 5px;}
	label {width: 155px;display: inline-block;}
	input {width: 180px;border: 1px solid $blue-bright;margin-right: 5px;}
	.icon {vertical-align: text-top;}
	.warning {color: $yellow;font-size: .9em;}
}
.b-partner {
	ul {list-style: none;}
	li {
		clear: left;
		@include clearfix();
		padding-left: 15px; position: relative;
		margin-bottom: 10px;
		vertical-align: text-top;
		&:before {
			content: "\2022";
			position: absolute;
			left: 0;
			top: 0;
			font-size: 30px;
			line-height: 0.6;
		}
	}
	li.special:before {top: 10px;}
	.inp-main {border: 1px solid $blue-bright;margin: 0;}	
	p {display: inline-block;margin-bottom: 0;}
	.but-login {float: right;position: relative;top: -10px;}

	img {position: relative;margin-left: 15px;}
}
.b-faq {
	b {color: $green;font-size: 1.1em;}
	ul {list-style: none;}
	li {position: relative; padding-left: 15px;	margin-left: -15px;
		&:before {
			content: "\2022";
			position: absolute;
			left: 0;
			top: 0;
			font-size: 30px;
			line-height: 0.6;
			color: $green;
		}
	}
	hr {border-top: 4px dotted $green;}
	.special {color:$green}
}
label.reflink {float: right; width: 200px; position: relative;top: -4px;
	input {width: 171px;}
}

/*** CHAT ***/
.b-chat {
	background: $blue-light;
	width: 290px;
	border-radius: 10px;
	overflow: hidden;
	position: fixed;
	z-index: 50;
	right: 30px;
	bottom:30px;		
	&_header {
		border-radius: 10px 10px 0 0;
		font-size: 1.3em;
		height: 50px;
		background: $blue-bright;
		text-transform: uppercase;
		line-height: 50px;
		text-align: center;
		box-shadow: 0 1px 10px 0 rgba(black, .2);
		cursor: pointer;
		margin: 0;
		position: relative;
		z-index: 2;
	}
	// body \ scroll \ messages
	&_body {
		padding: 0 0 0 20px;
		display: none;
		&.open {
			.b-chat_scroll {opacity: 1}			
		}
	}
	&_scroll {
		overflow: hidden;	
		opacity: 0;
		transition: all .5s;
	}
	&_message {@include clearfix();
		position: relative;
		margin-top: 15px;
		&:last-child {margin-bottom: 20px;}
		p {margin-bottom: 0;}
		&_ava {width: 45px;float: left;
			.ava-small {box-shadow: none;}
		}
		&_i {float: left;width: 205px;padding-left: 5px;}
		&_aut {color: $green;}
	}
	&_input {position: absolute;left: 20px;bottom: 0;width: 250px;}
	&_textarea {
		font-weight: 300; 
		position: relative; 
		margin: 0;
		width: 100%; 
		span {color: gray; position: absolute;left: 10px;top:5px;}
		textarea {
			width: 100%;
			background: $blue-dark;
			border: none;
			resize: none;
			color: #fff;
			padding: 10px;
			height: 50px;
			border-radius: 4px;
		}
		textarea:focus+span, textarea:valid+span {display: none;}
	}
	form {margin: 0;}
}
/* ==========================================================================
   FOOTER
   ========================================================================== */
.site-footer {
	background: url('../images/bg-footer.png') repeat-x;
	margin-top: 75px;
	padding-top: 35px;
	padding-bottom: 35px;
	p {margin-bottom: 0;}
	.author {font-size: .9em;
		text-align: right;
		a {text-decoration: underline; color: #55d4c3;}
	}
}

@import 'modules/plugins';